<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-merchant-heading" data-cy="MerchantCreateUpdateHeading">Create or edit a Merchant</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_merchantID">Merchant ID</label>
          <input
            type="text"
            class="form-control"
            name="merchantID"
            id="field_merchantID"
            data-cy="merchantID"
            formControlName="merchantID"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_merchantName">Merchant Name</label>
          <input
            type="text"
            class="form-control"
            name="merchantName"
            id="field_merchantName"
            data-cy="merchantName"
            formControlName="merchantName"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_merchantCategory">Merchant Category</label>
          <input
            type="text"
            class="form-control"
            name="merchantCategory"
            id="field_merchantCategory"
            data-cy="merchantCategory"
            formControlName="merchantCategory"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_merchantGLAccountNo">Merchant GL Account No</label>
          <input
            type="text"
            class="form-control"
            name="merchantGLAccountNo"
            id="field_merchantGLAccountNo"
            data-cy="merchantGLAccountNo"
            formControlName="merchantGLAccountNo"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_merchantBankAccountNo">Merchant Bank Account No</label>
          <input
            type="text"
            class="form-control"
            name="merchantBankAccountNo"
            id="field_merchantBankAccountNo"
            data-cy="merchantBankAccountNo"
            formControlName="merchantBankAccountNo"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_merchantBankAccountCurrency">Merchant Bank Account Currency</label>
          <input
            type="text"
            class="form-control"
            name="merchantBankAccountCurrency"
            id="field_merchantBankAccountCurrency"
            data-cy="merchantBankAccountCurrency"
            formControlName="merchantBankAccountCurrency"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_merchantBankCode">Merchant Bank Code</label>
          <input
            type="text"
            class="form-control"
            name="merchantBankCode"
            id="field_merchantBankCode"
            data-cy="merchantBankCode"
            formControlName="merchantBankCode"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_merchantBankName">Merchant Bank Name</label>
          <input
            type="text"
            class="form-control"
            name="merchantBankName"
            id="field_merchantBankName"
            data-cy="merchantBankName"
            formControlName="merchantBankName"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_merchantAddress">Merchant Address</label>
          <input
            type="text"
            class="form-control"
            name="merchantAddress"
            id="field_merchantAddress"
            data-cy="merchantAddress"
            formControlName="merchantAddress"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_merchantCity">Merchant City</label>
          <input
            type="text"
            class="form-control"
            name="merchantCity"
            id="field_merchantCity"
            data-cy="merchantCity"
            formControlName="merchantCity"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_createdOn">Created On</label>
          <div class="d-flex">
            <input
              id="field_createdOn"
              data-cy="createdOn"
              type="datetime-local"
              class="form-control"
              name="createdOn"
              formControlName="createdOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_merchantStataus">Merchant Stataus</label>
          <select
            class="form-control"
            name="merchantStataus"
            formControlName="merchantStataus"
            id="field_merchantStataus"
            data-cy="merchantStataus"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let merchantStatus of merchantStatusValues" [value]="merchantStatus">merchantStatus</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_country">Country</label>
          <select class="form-control" id="field_country" data-cy="country" name="country" formControlName="country">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="countryOption.id === editForm.get('country')!.value?.id ? editForm.get('country')!.value : countryOption"
              *ngFor="let countryOption of countriesSharedCollection; trackBy: trackCountryById"
            >
              {{ countryOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
