<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="glAccountCategory">
      <h2 data-cy="glAccountCategoryDetailsHeading"><span>Gl Account Category</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ glAccountCategory.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ glAccountCategory.name }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ glAccountCategory.code }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/gl-account-category', glAccountCategory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
