<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="walletTransaction">
      <h2 data-cy="walletTransactionDetailsHeading"><span>Wallet Transaction</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ walletTransaction.id }}</span>
        </dd>
        <dt><span>Txn Ref No</span></dt>
        <dd>
          <span>{{ walletTransaction.txnRefNo }}</span>
        </dd>
        <dt><span>Account No</span></dt>
        <dd>
          <span>{{ walletTransaction.accountNo }}</span>
        </dd>
        <dt><span>Txn Date</span></dt>
        <dd>
          <span>{{ walletTransaction.txnDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Txn Date In UTC</span></dt>
        <dd>
          <span>{{ walletTransaction.txnDateInUTC | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Txn Date In Local</span></dt>
        <dd>
          <span>{{ walletTransaction.txnDateInLocal | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Txn Date For Settlement</span></dt>
        <dd>
          <span>{{ walletTransaction.txnDateForSettlement | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Value Date</span></dt>
        <dd>
          <span>{{ walletTransaction.valueDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Value Date In UTC</span></dt>
        <dd>
          <span>{{ walletTransaction.valueDateInUTC | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Value Date In Local</span></dt>
        <dd>
          <span>{{ walletTransaction.valueDateInLocal | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Value Date For Settlement</span></dt>
        <dd>
          <span>{{ walletTransaction.valueDateForSettlement | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Txn Amount</span></dt>
        <dd>
          <span>{{ walletTransaction.txnAmount }}</span>
        </dd>
        <dt><span>Instructed Amount</span></dt>
        <dd>
          <span>{{ walletTransaction.instructedAmount }}</span>
        </dd>
        <dt><span>Amount In Account Currency</span></dt>
        <dd>
          <span>{{ walletTransaction.amountInAccountCurrency }}</span>
        </dd>
        <dt><span>Amount In Local Currency</span></dt>
        <dd>
          <span>{{ walletTransaction.amountInLocalCurrency }}</span>
        </dd>
        <dt><span>Charge In Account Currency</span></dt>
        <dd>
          <span>{{ walletTransaction.chargeInAccountCurrency }}</span>
        </dd>
        <dt><span>Charge In Local Currency</span></dt>
        <dd>
          <span>{{ walletTransaction.chargeInLocalCurrency }}</span>
        </dd>
        <dt><span>Funding Source</span></dt>
        <dd>
          <span>{{ walletTransaction.fundingSource }}</span>
        </dd>
        <dt><span>Merchant ID</span></dt>
        <dd>
          <span>{{ walletTransaction.merchantID }}</span>
        </dd>
        <dt><span>Merchant Info</span></dt>
        <dd>
          <span>{{ walletTransaction.merchantInfo }}</span>
        </dd>
        <dt><span>External Ref No</span></dt>
        <dd>
          <span>{{ walletTransaction.externalRefNo }}</span>
        </dd>
        <dt><span>Txn Description</span></dt>
        <dd>
          <span>{{ walletTransaction.txnDescription }}</span>
        </dd>
        <dt><span>Txn Internal Description</span></dt>
        <dd>
          <span>{{ walletTransaction.txnInternalDescription }}</span>
        </dd>
        <dt><span>Created On</span></dt>
        <dd>
          <span>{{ walletTransaction.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ walletTransaction.createdBy }}</span>
        </dd>
        <dt><span>Txn Status</span></dt>
        <dd>
          <span>{{ walletTransaction.txnStatus }}</span>
        </dd>
        <dt><span>Txn Debit Account No</span></dt>
        <dd>
          <span>{{ walletTransaction.txnDebitAccountNo }}</span>
        </dd>
        <dt><span>Txn Credit Account No</span></dt>
        <dd>
          <span>{{ walletTransaction.txnCreditAccountNo }}</span>
        </dd>
        <dt><span>Charge Debit Account No</span></dt>
        <dd>
          <span>{{ walletTransaction.chargeDebitAccountNo }}</span>
        </dd>
        <dt><span>Charge Credit Account No</span></dt>
        <dd>
          <span>{{ walletTransaction.chargeCreditAccountNo }}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
          <div *ngIf="walletTransaction.country">
            <a [routerLink]="['/country', walletTransaction.country?.id, 'view']">{{ walletTransaction.country?.name }}</a>
          </div>
        </dd>
        <dt><span>Txn Currency</span></dt>
        <dd>
          <div *ngIf="walletTransaction.txnCurrency">
            <a [routerLink]="['/currency', walletTransaction.txnCurrency?.id, 'view']">{{ walletTransaction.txnCurrency?.name }}</a>
          </div>
        </dd>
        <dt><span>Account Currency</span></dt>
        <dd>
          <div *ngIf="walletTransaction.accountCurrency">
            <a [routerLink]="['/currency', walletTransaction.accountCurrency?.id, 'view']">{{ walletTransaction.accountCurrency?.name }}</a>
          </div>
        </dd>
        <dt><span>Instructed Currency</span></dt>
        <dd>
          <div *ngIf="walletTransaction.instructedCurrency">
            <a [routerLink]="['/currency', walletTransaction.instructedCurrency?.id, 'view']">{{
              walletTransaction.instructedCurrency?.name
            }}</a>
          </div>
        </dd>
        <dt><span>Purpose Of Txn</span></dt>
        <dd>
          <div *ngIf="walletTransaction.purposeOfTxn">
            <a [routerLink]="['/purpose-of-txn', walletTransaction.purposeOfTxn?.id, 'view']">{{ walletTransaction.purposeOfTxn?.name }}</a>
          </div>
        </dd>
        <dt><span>Funding Source Type</span></dt>
        <dd>
          <div *ngIf="walletTransaction.fundingSourceType">
            <a [routerLink]="['/funding-source-type', walletTransaction.fundingSourceType?.id, 'view']">{{
              walletTransaction.fundingSourceType?.name
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/wallet-transaction', walletTransaction.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
