<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="accountType">
      <h2 data-cy="accountTypeDetailsHeading"><span>Account Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ accountType.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ accountType.name }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ accountType.code }}</span>
        </dd>
        <dt><span>Gl Account Type</span></dt>
        <dd>
          <span>{{ accountType.glAccountType }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/account-type', accountType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
