<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-fx-rate-heading" data-cy="FxRateCreateUpdateHeading">Create or edit a Fx Rate</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_baseCurrency">Base Currency</label>
          <input
            type="text"
            class="form-control"
            name="baseCurrency"
            id="field_baseCurrency"
            data-cy="baseCurrency"
            formControlName="baseCurrency"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_quoteCurrency">Quote Currency</label>
          <input
            type="text"
            class="form-control"
            name="quoteCurrency"
            id="field_quoteCurrency"
            data-cy="quoteCurrency"
            formControlName="quoteCurrency"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_askPrice">Ask Price</label>
          <input type="number" class="form-control" name="askPrice" id="field_askPrice" data-cy="askPrice" formControlName="askPrice" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_bidPrice">Bid Price</label>
          <input type="number" class="form-control" name="bidPrice" id="field_bidPrice" data-cy="bidPrice" formControlName="bidPrice" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_midPrice">Mid Price</label>
          <input type="number" class="form-control" name="midPrice" id="field_midPrice" data-cy="midPrice" formControlName="midPrice" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_askMargin">Ask Margin</label>
          <input type="number" class="form-control" name="askMargin" id="field_askMargin" data-cy="askMargin" formControlName="askMargin" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_bidMargin">Bid Margin</label>
          <input type="number" class="form-control" name="bidMargin" id="field_bidMargin" data-cy="bidMargin" formControlName="bidMargin" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_segment">Segment</label>
          <input type="text" class="form-control" name="segment" id="field_segment" data-cy="segment" formControlName="segment" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_amountSlab">Amount Slab</label>
          <input
            type="text"
            class="form-control"
            name="amountSlab"
            id="field_amountSlab"
            data-cy="amountSlab"
            formControlName="amountSlab"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_amountSlabValue">Amount Slab Value</label>
          <input
            type="number"
            class="form-control"
            name="amountSlabValue"
            id="field_amountSlabValue"
            data-cy="amountSlabValue"
            formControlName="amountSlabValue"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_amountSlabOperator">Amount Slab Operator</label>
          <input
            type="text"
            class="form-control"
            name="amountSlabOperator"
            id="field_amountSlabOperator"
            data-cy="amountSlabOperator"
            formControlName="amountSlabOperator"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_amountSlabCurrency">Amount Slab Currency</label>
          <input
            type="text"
            class="form-control"
            name="amountSlabCurrency"
            id="field_amountSlabCurrency"
            data-cy="amountSlabCurrency"
            formControlName="amountSlabCurrency"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_recordStatus">Record Status</label>
          <select class="form-control" name="recordStatus" formControlName="recordStatus" id="field_recordStatus" data-cy="recordStatus">
            <option [ngValue]="null"></option>
            <option *ngFor="let fxRecordStatus of fxRecordStatusValues" [value]="fxRecordStatus">fxRecordStatus</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_validfrom">Validfrom</label>
          <div class="input-group">
            <input
              id="field_validfrom"
              data-cy="validfrom"
              type="text"
              class="form-control"
              name="validfrom"
              ngbDatepicker
              #validfromDp="ngbDatepicker"
              formControlName="validfrom"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="validfromDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_validTo">Valid To</label>
          <div class="input-group">
            <input
              id="field_validTo"
              data-cy="validTo"
              type="text"
              class="form-control"
              name="validTo"
              ngbDatepicker
              #validToDp="ngbDatepicker"
              formControlName="validTo"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="validToDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
