<div>
  <h2 id="page-heading" data-cy="ChargeHeading">
    <span>Charges</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-charge"
        [routerLink]="['/charge/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Charge </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="charges?.length === 0">
    <span>No charges found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="charges && charges.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Charge Amount </span></th>
          <!--
          <th scope="col"><span>Charge Amount Txn Ccy</span></th>
          <th scope="col"><span>Amount Slab</span></th>
          <th scope="col"><span>Amount Slab Value</span></th>
          <th scope="col"><span>Amount Slab Operator</span></th>
          <th scope="col"><span>Amount Slab Currency</span></th>
          <th scope="col"><span>Record Status</span></th>
           <th scope="col"><span>Charge Type</span></th>
           <th scope="col"><span>Customer Segment</span></th>
          -->
          <th scope="col"><span>Validfrom</span></th>
          <th scope="col"><span>Valid To</span></th>

          <th scope="col"><span>Transaction Type</span></th>
          <th scope="col"><span>Txn Country</span></th>
          <th scope="col"><span>Ben. Country</span></th>
          <th scope="col"><span>Base Ccy</span></th>
          <th scope="col"><span>Txn Ccy</span></th>
          <th scope="col"><span>Charge Account</span></th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let charge of charges; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/charge', charge.id, 'view']">{{ charge.id }}</a>
          </td>
          <td>{{ charge.chargeAmountLocalCcy }}</td>
          <!--
          <td>{{ charge.chargeAmountTxnCcy }}</td>
          <td>{{ charge.amountSlab }}</td>
          <td>{{ charge.amountSlabValue }}</td>
          <td>{{ charge.amountSlabOperator }}</td>
          <td>{{ charge.amountSlabCurrency }}</td>
          <td>{{ charge.recordStatus }}</td>
           <td>
            <div *ngIf="charge.chargeType">
              <a [routerLink]="['/charge-type', charge.chargeType?.id, 'view']">{{ charge.chargeType?.name }}</a>
            </div>
          </td>
              <td>
            <div *ngIf="charge.customerSegment">
              <a [routerLink]="['/customer-segment', charge.customerSegment?.id, 'view']">{{ charge.customerSegment?.name }}</a>
            </div>
          </td>
          -->
          <td>{{ charge.validfrom | formatMediumDate }}</td>
          <td>{{ charge.validTo | formatMediumDate }}</td>

          <td>
            <div *ngIf="charge.transactionType">
              <a [routerLink]="['/transaction-type', charge.transactionType?.id, 'view']">{{ charge.transactionType?.code }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="charge.txnCountry">
              <a [routerLink]="['/country', charge.txnCountry?.id, 'view']">{{ charge.txnCountry?.code }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="charge.beneficiaryCountry">
              <a [routerLink]="['/country', charge.beneficiaryCountry?.id, 'view']">{{ charge.beneficiaryCountry?.code }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="charge.baseCurrency">
              <a [routerLink]="['/currency', charge.baseCurrency?.id, 'view']">{{ charge.baseCurrency?.code }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="charge.txnCurrency">
              <a [routerLink]="['/currency', charge.txnCurrency?.id, 'view']">{{ charge.txnCurrency?.code }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="charge.chargeAccount">
              <a [routerLink]="['/casa-account', charge.chargeAccount?.id, 'view']">{{ charge.chargeAccount?.accountNo }}</a>
            </div>
          </td>

          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/charge', charge.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/charge', charge.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(charge)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
