<div>
  <h2 id="page-heading" data-cy="RemittanceTransactionHeading">
    <span>Remittance Transactions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-remittance-transaction"
        [routerLink]="['/remittance-transaction/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Remittance Transaction </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="remittanceTransactions?.length === 0">
    <span>No remittanceTransactions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="remittanceTransactions && remittanceTransactions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Txn Ref No</span></th>
          <th scope="col"><span>Account No</span></th>
          <th scope="col"><span>Txn Date</span></th>
          <th scope="col"><span>Ben. Account No</span></th>
          <th scope="col"><span>Ben. Name</span></th>
          <th scope="col"><span>Swift Code</span></th>
          <th scope="col"><span>Txn Amount</span></th>
          <th scope="col"><span>Rate</span></th>
          <th scope="col"><span>Txn Status</span></th>
          <th scope="col"><span>Txn Currency</span></th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let remittanceTransaction of remittanceTransactions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/remittance-transaction', remittanceTransaction.id, 'view']">{{ remittanceTransaction.id }}</a>
          </td>
          <td>{{ remittanceTransaction.txnRefNo }}</td>
          <td>{{ remittanceTransaction.accountNo }}</td>
          <td>{{ remittanceTransaction.txnDate | formatMediumDate }}</td>
          <td>{{ remittanceTransaction.beneficiaryAccountNo }}</td>
          <td>{{ remittanceTransaction.beneficiaryName }}</td>
          <td>{{ remittanceTransaction.beneficiarybankSwiftCode }}</td>
          <td>{{ remittanceTransaction.txnAmount }}</td>
          <td>{{ remittanceTransaction.rate }}</td>
          <td>{{ remittanceTransaction.txnStatus }}</td>
          <!--
          <td>
            <div *ngIf="remittanceTransaction.country">
              <a [routerLink]="['/country', remittanceTransaction.country?.id, 'view']">{{ remittanceTransaction.country?.name }}</a>
            </div>
          </td>
          -->
          <td>
            <div *ngIf="remittanceTransaction.txnCurrency">
              <a [routerLink]="['/currency', remittanceTransaction.txnCurrency?.id, 'view']">{{
                remittanceTransaction.txnCurrency?.name
              }}</a>
            </div>
          </td>

          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/remittance-transaction', remittanceTransaction.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/remittance-transaction', remittanceTransaction.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(remittanceTransaction)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
