<div>
  <h2 id="page-heading" data-cy="CustomerHeading">
    <span>Customers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-customer"
        [routerLink]="['/customer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Customer </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="customers?.length === 0">
    <span>No customers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="customers && customers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <!-- <th scope="col"><span>ID</span></th>-->
          <th scope="col"><span>Cif</span></th>
          <th scope="col"><span>First Name</span></th>

          <th scope="col"><span>Last Name</span></th>

          <th scope="col"><span>Mobile</span></th>
          <th scope="col"><span>Email</span></th>

          <!-- <th scope="col"><span>Customer Status</span></th> -->
          <th scope="col"><span>Nationality</span></th>
          <th scope="col"><span>Type</span></th>
          <th scope="col"><span>Segment</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/customer', customer.id, 'view']">{{ customer.cif }}</a>
          </td>
          <!-- <td>{{ customer.cif }}</td>-->
          <td>{{ customer.firstName }}</td>

          <td>{{ customer.lastName }}</td>

          <td>{{ customer.mobile }}</td>
          <td>{{ customer.email }}</td>

          <!-- <td>{{ customer.customerStatus }}</td> -->
          <td>
            <div *ngIf="customer.nationality">
              <a [routerLink]="['/country', customer.nationality?.id, 'view']">{{ customer.nationality?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="customer.customerType">
              <a [routerLink]="['/customer-type', customer.customerType?.id, 'view']">{{ customer.customerType?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="customer.customerSegment">
              <a [routerLink]="['/customer-segment', customer.customerSegment?.id, 'view']">{{ customer.customerSegment?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/customer', customer.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/customer', customer.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(customer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
