<div>
  <h2 id="page-heading" data-cy="WalletTopupTransactionHeading">
    <span>Wallet Topup Transactions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-wallet-topup-transaction"
        [routerLink]="['/wallet-topup-transaction/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Wallet Topup Transaction </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="walletTopupTransactions?.length === 0">
    <span>No walletTopupTransactions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="walletTopupTransactions && walletTopupTransactions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Txn Ref No</span></th>
          <th scope="col"><span>Account No</span></th>
          <th scope="col"><span>Txn Date</span></th>
          <th scope="col"><span>Txn Date In UTC</span></th>
          <th scope="col"><span>Txn Date In Local</span></th>
          <th scope="col"><span>Txn Date For Settlement</span></th>
          <th scope="col"><span>Value Date</span></th>
          <th scope="col"><span>Value Date In UTC</span></th>
          <th scope="col"><span>Value Date In Local</span></th>
          <th scope="col"><span>Value Date For Settlement</span></th>
          <th scope="col"><span>Txn Amount</span></th>
          <th scope="col"><span>Instructed Amount</span></th>
          <th scope="col"><span>Amount In Account Currency</span></th>
          <th scope="col"><span>Amount In Local Currency</span></th>
          <th scope="col"><span>Charge In Account Currency</span></th>
          <th scope="col"><span>Charge In Local Currency</span></th>
          <th scope="col"><span>Funding Source</span></th>
          <th scope="col"><span>Merchant ID</span></th>
          <th scope="col"><span>Merchant Info</span></th>
          <th scope="col"><span>Bank Code</span></th>
          <th scope="col"><span>External Ref No</span></th>
          <th scope="col"><span>Txn Description</span></th>
          <th scope="col"><span>Txn Internal Description</span></th>
          <th scope="col"><span>Txn Addnl Info</span></th>
          <th scope="col"><span>Created On</span></th>
          <th scope="col"><span>Created By</span></th>
          <th scope="col"><span>Txn Status</span></th>
          <th scope="col"><span>Txn Debit Account No</span></th>
          <th scope="col"><span>Txn Credit Account No</span></th>
          <th scope="col"><span>Charge Debit Account No</span></th>
          <th scope="col"><span>Charge Credit Account No</span></th>
          <th scope="col"><span>Country</span></th>
          <th scope="col"><span>Txn Currency</span></th>
          <th scope="col"><span>Account Currency</span></th>
          <th scope="col"><span>Instructed Currency</span></th>
          <th scope="col"><span>Purpose Of Txn</span></th>
          <th scope="col"><span>Funding Source Type</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let walletTopupTransaction of walletTopupTransactions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/wallet-topup-transaction', walletTopupTransaction.id, 'view']">{{ walletTopupTransaction.id }}</a>
          </td>
          <td>{{ walletTopupTransaction.txnRefNo }}</td>
          <td>{{ walletTopupTransaction.accountNo }}</td>
          <td>{{ walletTopupTransaction.txnDate | formatMediumDate }}</td>
          <td>{{ walletTopupTransaction.txnDateInUTC | formatMediumDatetime }}</td>
          <td>{{ walletTopupTransaction.txnDateInLocal | formatMediumDatetime }}</td>
          <td>{{ walletTopupTransaction.txnDateForSettlement | formatMediumDatetime }}</td>
          <td>{{ walletTopupTransaction.valueDate | formatMediumDate }}</td>
          <td>{{ walletTopupTransaction.valueDateInUTC | formatMediumDatetime }}</td>
          <td>{{ walletTopupTransaction.valueDateInLocal | formatMediumDatetime }}</td>
          <td>{{ walletTopupTransaction.valueDateForSettlement | formatMediumDatetime }}</td>
          <td>{{ walletTopupTransaction.txnAmount }}</td>
          <td>{{ walletTopupTransaction.instructedAmount }}</td>
          <td>{{ walletTopupTransaction.amountInAccountCurrency }}</td>
          <td>{{ walletTopupTransaction.amountInLocalCurrency }}</td>
          <td>{{ walletTopupTransaction.chargeInAccountCurrency }}</td>
          <td>{{ walletTopupTransaction.chargeInLocalCurrency }}</td>
          <td>{{ walletTopupTransaction.fundingSource }}</td>
          <td>{{ walletTopupTransaction.merchantID }}</td>
          <td>{{ walletTopupTransaction.merchantInfo }}</td>
          <td>{{ walletTopupTransaction.bankCode }}</td>
          <td>{{ walletTopupTransaction.externalRefNo }}</td>
          <td>{{ walletTopupTransaction.txnDescription }}</td>
          <td>{{ walletTopupTransaction.txnInternalDescription }}</td>
          <td>{{ walletTopupTransaction.txnAddnlInfo }}</td>
          <td>{{ walletTopupTransaction.createdOn | formatMediumDatetime }}</td>
          <td>{{ walletTopupTransaction.createdBy }}</td>
          <td>{{ walletTopupTransaction.txnStatus }}</td>
          <td>{{ walletTopupTransaction.txnDebitAccountNo }}</td>
          <td>{{ walletTopupTransaction.txnCreditAccountNo }}</td>
          <td>{{ walletTopupTransaction.chargeDebitAccountNo }}</td>
          <td>{{ walletTopupTransaction.chargeCreditAccountNo }}</td>
          <td>
            <div *ngIf="walletTopupTransaction.country">
              <a [routerLink]="['/country', walletTopupTransaction.country?.id, 'view']">{{ walletTopupTransaction.country?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="walletTopupTransaction.txnCurrency">
              <a [routerLink]="['/currency', walletTopupTransaction.txnCurrency?.id, 'view']">{{
                walletTopupTransaction.txnCurrency?.name
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="walletTopupTransaction.accountCurrency">
              <a [routerLink]="['/currency', walletTopupTransaction.accountCurrency?.id, 'view']">{{
                walletTopupTransaction.accountCurrency?.name
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="walletTopupTransaction.instructedCurrency">
              <a [routerLink]="['/currency', walletTopupTransaction.instructedCurrency?.id, 'view']">{{
                walletTopupTransaction.instructedCurrency?.name
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="walletTopupTransaction.purposeOfTxn">
              <a [routerLink]="['/purpose-of-txn', walletTopupTransaction.purposeOfTxn?.id, 'view']">{{
                walletTopupTransaction.purposeOfTxn?.name
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="walletTopupTransaction.fundingSourceType">
              <a [routerLink]="['/funding-source-type', walletTopupTransaction.fundingSourceType?.id, 'view']">{{
                walletTopupTransaction.fundingSourceType?.name
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/wallet-topup-transaction', walletTopupTransaction.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/wallet-topup-transaction', walletTopupTransaction.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(walletTopupTransaction)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
