<div>
  <h2 id="page-heading" data-cy="AppConfigHeading">
    <span>App Configs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-app-config"
        [routerLink]="['/app-config/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new App Config </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="appConfigs?.length === 0">
    <span>No appConfigs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="appConfigs && appConfigs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Code</span></th>
          <th scope="col"><span>Sub Code</span></th>
          <th scope="col"><span>Value</span></th>
          <th scope="col"><span>Description</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appConfig of appConfigs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/app-config', appConfig.id, 'view']">{{ appConfig.id }}</a>
          </td>
          <td>{{ appConfig.code }}</td>
          <td>{{ appConfig.subCode }}</td>
          <td>{{ appConfig.value }}</td>
          <td>{{ appConfig.description }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/app-config', appConfig.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/app-config', appConfig.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(appConfig)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
