<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-wallet-topup-transaction-heading" data-cy="WalletTopupTransactionCreateUpdateHeading">
        Create or edit a Wallet Topup Transaction
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_txnRefNo">Txn Ref No</label>
          <input type="text" class="form-control" name="txnRefNo" id="field_txnRefNo" data-cy="txnRefNo" formControlName="txnRefNo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_accountNo">Account No</label>
          <input type="text" class="form-control" name="accountNo" id="field_accountNo" data-cy="accountNo" formControlName="accountNo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_txnDate">Txn Date</label>
          <div class="input-group">
            <input
              id="field_txnDate"
              data-cy="txnDate"
              type="text"
              class="form-control"
              name="txnDate"
              ngbDatepicker
              #txnDateDp="ngbDatepicker"
              formControlName="txnDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="txnDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_txnDateInUTC">Txn Date In UTC</label>
          <div class="d-flex">
            <input
              id="field_txnDateInUTC"
              data-cy="txnDateInUTC"
              type="datetime-local"
              class="form-control"
              name="txnDateInUTC"
              formControlName="txnDateInUTC"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_txnDateInLocal">Txn Date In Local</label>
          <div class="d-flex">
            <input
              id="field_txnDateInLocal"
              data-cy="txnDateInLocal"
              type="datetime-local"
              class="form-control"
              name="txnDateInLocal"
              formControlName="txnDateInLocal"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_txnDateForSettlement">Txn Date For Settlement</label>
          <div class="d-flex">
            <input
              id="field_txnDateForSettlement"
              data-cy="txnDateForSettlement"
              type="datetime-local"
              class="form-control"
              name="txnDateForSettlement"
              formControlName="txnDateForSettlement"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_valueDate">Value Date</label>
          <div class="input-group">
            <input
              id="field_valueDate"
              data-cy="valueDate"
              type="text"
              class="form-control"
              name="valueDate"
              ngbDatepicker
              #valueDateDp="ngbDatepicker"
              formControlName="valueDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="valueDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_valueDateInUTC">Value Date In UTC</label>
          <div class="d-flex">
            <input
              id="field_valueDateInUTC"
              data-cy="valueDateInUTC"
              type="datetime-local"
              class="form-control"
              name="valueDateInUTC"
              formControlName="valueDateInUTC"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_valueDateInLocal">Value Date In Local</label>
          <div class="d-flex">
            <input
              id="field_valueDateInLocal"
              data-cy="valueDateInLocal"
              type="datetime-local"
              class="form-control"
              name="valueDateInLocal"
              formControlName="valueDateInLocal"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_valueDateForSettlement">Value Date For Settlement</label>
          <div class="d-flex">
            <input
              id="field_valueDateForSettlement"
              data-cy="valueDateForSettlement"
              type="datetime-local"
              class="form-control"
              name="valueDateForSettlement"
              formControlName="valueDateForSettlement"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_txnAmount">Txn Amount</label>
          <input type="number" class="form-control" name="txnAmount" id="field_txnAmount" data-cy="txnAmount" formControlName="txnAmount" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_instructedAmount">Instructed Amount</label>
          <input
            type="number"
            class="form-control"
            name="instructedAmount"
            id="field_instructedAmount"
            data-cy="instructedAmount"
            formControlName="instructedAmount"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_amountInAccountCurrency">Amount In Account Currency</label>
          <input
            type="number"
            class="form-control"
            name="amountInAccountCurrency"
            id="field_amountInAccountCurrency"
            data-cy="amountInAccountCurrency"
            formControlName="amountInAccountCurrency"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_amountInLocalCurrency">Amount In Local Currency</label>
          <input
            type="number"
            class="form-control"
            name="amountInLocalCurrency"
            id="field_amountInLocalCurrency"
            data-cy="amountInLocalCurrency"
            formControlName="amountInLocalCurrency"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_chargeInAccountCurrency">Charge In Account Currency</label>
          <input
            type="number"
            class="form-control"
            name="chargeInAccountCurrency"
            id="field_chargeInAccountCurrency"
            data-cy="chargeInAccountCurrency"
            formControlName="chargeInAccountCurrency"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_chargeInLocalCurrency">Charge In Local Currency</label>
          <input
            type="number"
            class="form-control"
            name="chargeInLocalCurrency"
            id="field_chargeInLocalCurrency"
            data-cy="chargeInLocalCurrency"
            formControlName="chargeInLocalCurrency"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_fundingSource">Funding Source</label>
          <input
            type="text"
            class="form-control"
            name="fundingSource"
            id="field_fundingSource"
            data-cy="fundingSource"
            formControlName="fundingSource"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_merchantID">Merchant ID</label>
          <input
            type="text"
            class="form-control"
            name="merchantID"
            id="field_merchantID"
            data-cy="merchantID"
            formControlName="merchantID"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_merchantInfo">Merchant Info</label>
          <input
            type="text"
            class="form-control"
            name="merchantInfo"
            id="field_merchantInfo"
            data-cy="merchantInfo"
            formControlName="merchantInfo"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_bankCode">Bank Code</label>
          <input type="text" class="form-control" name="bankCode" id="field_bankCode" data-cy="bankCode" formControlName="bankCode" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_externalRefNo">External Ref No</label>
          <input
            type="text"
            class="form-control"
            name="externalRefNo"
            id="field_externalRefNo"
            data-cy="externalRefNo"
            formControlName="externalRefNo"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_txnDescription">Txn Description</label>
          <input
            type="text"
            class="form-control"
            name="txnDescription"
            id="field_txnDescription"
            data-cy="txnDescription"
            formControlName="txnDescription"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_txnInternalDescription">Txn Internal Description</label>
          <input
            type="text"
            class="form-control"
            name="txnInternalDescription"
            id="field_txnInternalDescription"
            data-cy="txnInternalDescription"
            formControlName="txnInternalDescription"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_txnAddnlInfo">Txn Addnl Info</label>
          <input
            type="text"
            class="form-control"
            name="txnAddnlInfo"
            id="field_txnAddnlInfo"
            data-cy="txnAddnlInfo"
            formControlName="txnAddnlInfo"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_createdOn">Created On</label>
          <div class="d-flex">
            <input
              id="field_createdOn"
              data-cy="createdOn"
              type="datetime-local"
              class="form-control"
              name="createdOn"
              formControlName="createdOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_txnStatus">Txn Status</label>
          <select class="form-control" name="txnStatus" formControlName="txnStatus" id="field_txnStatus" data-cy="txnStatus">
            <option [ngValue]="null"></option>
            <option *ngFor="let txnStatus of txnStatusValues" [value]="txnStatus">txnStatus</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_txnDebitAccountNo">Txn Debit Account No</label>
          <input
            type="text"
            class="form-control"
            name="txnDebitAccountNo"
            id="field_txnDebitAccountNo"
            data-cy="txnDebitAccountNo"
            formControlName="txnDebitAccountNo"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_txnCreditAccountNo">Txn Credit Account No</label>
          <input
            type="text"
            class="form-control"
            name="txnCreditAccountNo"
            id="field_txnCreditAccountNo"
            data-cy="txnCreditAccountNo"
            formControlName="txnCreditAccountNo"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_chargeDebitAccountNo">Charge Debit Account No</label>
          <input
            type="text"
            class="form-control"
            name="chargeDebitAccountNo"
            id="field_chargeDebitAccountNo"
            data-cy="chargeDebitAccountNo"
            formControlName="chargeDebitAccountNo"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_chargeCreditAccountNo">Charge Credit Account No</label>
          <input
            type="text"
            class="form-control"
            name="chargeCreditAccountNo"
            id="field_chargeCreditAccountNo"
            data-cy="chargeCreditAccountNo"
            formControlName="chargeCreditAccountNo"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_country">Country</label>
          <select class="form-control" id="field_country" data-cy="country" name="country" formControlName="country">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="countryOption.id === editForm.get('country')!.value?.id ? editForm.get('country')!.value : countryOption"
              *ngFor="let countryOption of countriesSharedCollection; trackBy: trackCountryById"
            >
              {{ countryOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_txnCurrency">Txn Currency</label>
          <select class="form-control" id="field_txnCurrency" data-cy="txnCurrency" name="txnCurrency" formControlName="txnCurrency">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="currencyOption.id === editForm.get('txnCurrency')!.value?.id ? editForm.get('txnCurrency')!.value : currencyOption"
              *ngFor="let currencyOption of currenciesSharedCollection; trackBy: trackCurrencyById"
            >
              {{ currencyOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_accountCurrency">Account Currency</label>
          <select
            class="form-control"
            id="field_accountCurrency"
            data-cy="accountCurrency"
            name="accountCurrency"
            formControlName="accountCurrency"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                currencyOption.id === editForm.get('accountCurrency')!.value?.id ? editForm.get('accountCurrency')!.value : currencyOption
              "
              *ngFor="let currencyOption of currenciesSharedCollection; trackBy: trackCurrencyById"
            >
              {{ currencyOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_instructedCurrency">Instructed Currency</label>
          <select
            class="form-control"
            id="field_instructedCurrency"
            data-cy="instructedCurrency"
            name="instructedCurrency"
            formControlName="instructedCurrency"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                currencyOption.id === editForm.get('instructedCurrency')!.value?.id
                  ? editForm.get('instructedCurrency')!.value
                  : currencyOption
              "
              *ngFor="let currencyOption of currenciesSharedCollection; trackBy: trackCurrencyById"
            >
              {{ currencyOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_purposeOfTxn">Purpose Of Txn</label>
          <select class="form-control" id="field_purposeOfTxn" data-cy="purposeOfTxn" name="purposeOfTxn" formControlName="purposeOfTxn">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                purposeOfTxnOption.id === editForm.get('purposeOfTxn')!.value?.id ? editForm.get('purposeOfTxn')!.value : purposeOfTxnOption
              "
              *ngFor="let purposeOfTxnOption of purposeOfTxnsSharedCollection; trackBy: trackPurposeOfTxnById"
            >
              {{ purposeOfTxnOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_fundingSourceType">Funding Source Type</label>
          <select
            class="form-control"
            id="field_fundingSourceType"
            data-cy="fundingSourceType"
            name="fundingSourceType"
            formControlName="fundingSourceType"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                fundingSourceTypeOption.id === editForm.get('fundingSourceType')!.value?.id
                  ? editForm.get('fundingSourceType')!.value
                  : fundingSourceTypeOption
              "
              *ngFor="let fundingSourceTypeOption of fundingSourceTypesSharedCollection; trackBy: trackFundingSourceTypeById"
            >
              {{ fundingSourceTypeOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
