<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="appConfig">
      <h2 data-cy="appConfigDetailsHeading"><span>App Config</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ appConfig.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ appConfig.code }}</span>
        </dd>
        <dt><span>Sub Code</span></dt>
        <dd>
          <span>{{ appConfig.subCode }}</span>
        </dd>
        <dt><span>Value</span></dt>
        <dd>
          <span>{{ appConfig.value }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ appConfig.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/app-config', appConfig.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
