<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="remittanceTransaction">
      <h2 data-cy="remittanceTransactionDetailsHeading"><span>Remittance Transaction</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ remittanceTransaction.id }}</span>
        </dd>
        <dt><span>Txn Ref No</span></dt>
        <dd>
          <span>{{ remittanceTransaction.txnRefNo }}</span>
        </dd>
        <dt><span>Account No</span></dt>
        <dd>
          <span>{{ remittanceTransaction.accountNo }}</span>
        </dd>
        <dt><span>Txn Date</span></dt>
        <dd>
          <span>{{ remittanceTransaction.txnDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Txn Date In UTC</span></dt>
        <dd>
          <span>{{ remittanceTransaction.txnDateInUTC | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Txn Date In Local</span></dt>
        <dd>
          <span>{{ remittanceTransaction.txnDateInLocal | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Txn Date For Settlement</span></dt>
        <dd>
          <span>{{ remittanceTransaction.txnDateForSettlement | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Value Date</span></dt>
        <dd>
          <span>{{ remittanceTransaction.valueDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Value Date In UTC</span></dt>
        <dd>
          <span>{{ remittanceTransaction.valueDateInUTC | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Value Date In Local</span></dt>
        <dd>
          <span>{{ remittanceTransaction.valueDateInLocal | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Value Date For Settlement</span></dt>
        <dd>
          <span>{{ remittanceTransaction.valueDateForSettlement | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Beneficiary Account No</span></dt>
        <dd>
          <span>{{ remittanceTransaction.beneficiaryAccountNo }}</span>
        </dd>
        <dt><span>Beneficiary Name</span></dt>
        <dd>
          <span>{{ remittanceTransaction.beneficiaryName }}</span>
        </dd>
        <dt><span>Beneficiarybank Swift Code</span></dt>
        <dd>
          <span>{{ remittanceTransaction.beneficiarybankSwiftCode }}</span>
        </dd>
        <dt><span>Intermediary Bank Swift Code</span></dt>
        <dd>
          <span>{{ remittanceTransaction.intermediaryBankSwiftCode }}</span>
        </dd>
        <dt><span>Beneficiary Bank Name</span></dt>
        <dd>
          <span>{{ remittanceTransaction.beneficiaryBankName }}</span>
        </dd>
        <dt><span>Beneficiary Bank Branch Name</span></dt>
        <dd>
          <span>{{ remittanceTransaction.beneficiaryBankBranchName }}</span>
        </dd>
        <dt><span>Txn Amount</span></dt>
        <dd>
          <span>{{ remittanceTransaction.txnAmount }}</span>
        </dd>
        <dt><span>Amount In Account Currency</span></dt>
        <dd>
          <span>{{ remittanceTransaction.amountInAccountCurrency }}</span>
        </dd>
        <dt><span>Amount In Local Currency</span></dt>
        <dd>
          <span>{{ remittanceTransaction.amountInLocalCurrency }}</span>
        </dd>
        <dt><span>Charge In Account Currency</span></dt>
        <dd>
          <span>{{ remittanceTransaction.chargeInAccountCurrency }}</span>
        </dd>
        <dt><span>Charge In Local Currency</span></dt>
        <dd>
          <span>{{ remittanceTransaction.chargeInLocalCurrency }}</span>
        </dd>
        <dt><span>Funding Source</span></dt>
        <dd>
          <span>{{ remittanceTransaction.fundingSource }}</span>
        </dd>
        <dt><span>Rate</span></dt>
        <dd>
          <span>{{ remittanceTransaction.rate }}</span>
        </dd>
        <dt><span>Instructed Amount</span></dt>
        <dd>
          <span>{{ remittanceTransaction.instructedAmount }}</span>
        </dd>
        <dt><span>Instructed Amount Currency</span></dt>
        <dd>
          <span>{{ remittanceTransaction.instructedAmountCurrency }}</span>
        </dd>
        <dt><span>Merchant ID</span></dt>
        <dd>
          <span>{{ remittanceTransaction.merchantID }}</span>
        </dd>
        <dt><span>Merchant Info</span></dt>
        <dd>
          <span>{{ remittanceTransaction.merchantInfo }}</span>
        </dd>
        <dt><span>External Ref No</span></dt>
        <dd>
          <span>{{ remittanceTransaction.externalRefNo }}</span>
        </dd>
        <dt><span>Txn Description</span></dt>
        <dd>
          <span>{{ remittanceTransaction.txnDescription }}</span>
        </dd>
        <dt><span>Txn Internal Description</span></dt>
        <dd>
          <span>{{ remittanceTransaction.txnInternalDescription }}</span>
        </dd>
        <dt><span>Txn Addnl Info</span></dt>
        <dd>
          <span>{{ remittanceTransaction.txnAddnlInfo }}</span>
        </dd>
        <dt><span>Created On</span></dt>
        <dd>
          <span>{{ remittanceTransaction.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ remittanceTransaction.createdBy }}</span>
        </dd>
        <dt><span>Txn Status</span></dt>
        <dd>
          <span>{{ remittanceTransaction.txnStatus }}</span>
        </dd>
        <dt><span>Txn Debit Account No</span></dt>
        <dd>
          <span>{{ remittanceTransaction.txnDebitAccountNo }}</span>
        </dd>
        <dt><span>Txn Credit Account No</span></dt>
        <dd>
          <span>{{ remittanceTransaction.txnCreditAccountNo }}</span>
        </dd>
        <dt><span>Charge Debit Account No</span></dt>
        <dd>
          <span>{{ remittanceTransaction.chargeDebitAccountNo }}</span>
        </dd>
        <dt><span>Charge Credit Account No</span></dt>
        <dd>
          <span>{{ remittanceTransaction.chargeCreditAccountNo }}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
          <div *ngIf="remittanceTransaction.country">
            <a [routerLink]="['/country', remittanceTransaction.country?.id, 'view']">{{ remittanceTransaction.country?.name }}</a>
          </div>
        </dd>
        <dt><span>Txn Currency</span></dt>
        <dd>
          <div *ngIf="remittanceTransaction.txnCurrency">
            <a [routerLink]="['/currency', remittanceTransaction.txnCurrency?.id, 'view']">{{ remittanceTransaction.txnCurrency?.name }}</a>
          </div>
        </dd>
        <dt><span>Account Currency</span></dt>
        <dd>
          <div *ngIf="remittanceTransaction.accountCurrency">
            <a [routerLink]="['/currency', remittanceTransaction.accountCurrency?.id, 'view']">{{
              remittanceTransaction.accountCurrency?.name
            }}</a>
          </div>
        </dd>
        <dt><span>Instructed Currency</span></dt>
        <dd>
          <div *ngIf="remittanceTransaction.instructedCurrency">
            <a [routerLink]="['/currency', remittanceTransaction.instructedCurrency?.id, 'view']">{{
              remittanceTransaction.instructedCurrency?.name
            }}</a>
          </div>
        </dd>
        <dt><span>Purpose Of Txn</span></dt>
        <dd>
          <div *ngIf="remittanceTransaction.purposeOfTxn">
            <a [routerLink]="['/purpose-of-txn', remittanceTransaction.purposeOfTxn?.id, 'view']">{{
              remittanceTransaction.purposeOfTxn?.name
            }}</a>
          </div>
        </dd>
        <dt><span>Funding Source Type</span></dt>
        <dd>
          <div *ngIf="remittanceTransaction.fundingSourceType">
            <a [routerLink]="['/funding-source-type', remittanceTransaction.fundingSourceType?.id, 'view']">{{
              remittanceTransaction.fundingSourceType?.name
            }}</a>
          </div>
        </dd>
        <dt><span>Transaction Type</span></dt>
        <dd>
          <div *ngIf="remittanceTransaction.transactionType">
            <a [routerLink]="['/transaction-type', remittanceTransaction.transactionType?.id, 'view']">{{
              remittanceTransaction.transactionType?.name
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/remittance-transaction', remittanceTransaction.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
