<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="casaAccountDayBalance">
      <h2 data-cy="casaAccountDayBalanceDetailsHeading"><span>Casa Account Day Balance</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ casaAccountDayBalance.id }}</span>
        </dd>
        <dt><span>Account No</span></dt>
        <dd>
          <span>{{ casaAccountDayBalance.accountNo }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ casaAccountDayBalance.date | formatMediumDate }}</span>
        </dd>
        <dt><span>Closing Balance</span></dt>
        <dd>
          <span>{{ casaAccountDayBalance.closingBalance }}</span>
        </dd>
        <dt><span>Opening Balance</span></dt>
        <dd>
          <span>{{ casaAccountDayBalance.openingBalance }}</span>
        </dd>
        <dt><span>Total Debit</span></dt>
        <dd>
          <span>{{ casaAccountDayBalance.totalDebit }}</span>
        </dd>
        <dt><span>Total Credit</span></dt>
        <dd>
          <span>{{ casaAccountDayBalance.totalCredit }}</span>
        </dd>
        <dt><span>Available Balance</span></dt>
        <dd>
          <span>{{ casaAccountDayBalance.availableBalance }}</span>
        </dd>
        <dt><span>Current Balance</span></dt>
        <dd>
          <span>{{ casaAccountDayBalance.currentBalance }}</span>
        </dd>
        <dt><span>Created On</span></dt>
        <dd>
          <span>{{ casaAccountDayBalance.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ casaAccountDayBalance.createdBy }}</span>
        </dd>
        <dt><span>Casa Account</span></dt>
        <dd>
          <div *ngIf="casaAccountDayBalance.casaAccount">
            <a [routerLink]="['/casa-account', casaAccountDayBalance.casaAccount?.id, 'view']">{{
              casaAccountDayBalance.casaAccount?.accountNo
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/casa-account-day-balance', casaAccountDayBalance.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
