<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="beneficiary">
      <h2 data-cy="beneficiaryDetailsHeading"><span>Beneficiary</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ beneficiary.id }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ beneficiary.title }}</span>
        </dd>
        <dt><span>Beneficiary Name</span></dt>
        <dd>
          <span>{{ beneficiary.beneficiaryName }}</span>
        </dd>
        <dt><span>Beneficiary Account No</span></dt>
        <dd>
          <span>{{ beneficiary.beneficiaryAccountNo }}</span>
        </dd>
        <dt><span>Beneficiarybank Swift Code</span></dt>
        <dd>
          <span>{{ beneficiary.beneficiarybankSwiftCode }}</span>
        </dd>
        <dt><span>Intermediary Bank Swift Code</span></dt>
        <dd>
          <span>{{ beneficiary.intermediaryBankSwiftCode }}</span>
        </dd>
        <dt><span>Beneficiary Bank Name</span></dt>
        <dd>
          <span>{{ beneficiary.beneficiaryBankName }}</span>
        </dd>
        <dt><span>Beneficiary Bank Branch Name</span></dt>
        <dd>
          <span>{{ beneficiary.beneficiaryBankBranchName }}</span>
        </dd>
        <dt><span>Beneficiary Address 1</span></dt>
        <dd>
          <span>{{ beneficiary.beneficiaryAddress1 }}</span>
        </dd>
        <dt><span>Beneficiary Address 2</span></dt>
        <dd>
          <span>{{ beneficiary.beneficiaryAddress2 }}</span>
        </dd>
        <dt><span>Beneficiary Address 3</span></dt>
        <dd>
          <span>{{ beneficiary.beneficiaryAddress3 }}</span>
        </dd>
        <dt><span>Beneficiary State</span></dt>
        <dd>
          <span>{{ beneficiary.beneficiaryState }}</span>
        </dd>
        <dt><span>Beneficiary Pin Code</span></dt>
        <dd>
          <span>{{ beneficiary.beneficiaryPinCode }}</span>
        </dd>
        <dt><span>Created On</span></dt>
        <dd>
          <span>{{ beneficiary.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ beneficiary.createdBy }}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
          <div *ngIf="beneficiary.country">
            <a [routerLink]="['/country', beneficiary.country?.id, 'view']">{{ beneficiary.country?.name }}</a>
          </div>
        </dd>
        <dt><span>Currency</span></dt>
        <dd>
          <div *ngIf="beneficiary.currency">
            <a [routerLink]="['/currency', beneficiary.currency?.id, 'view']">{{ beneficiary.currency?.name }}</a>
          </div>
        </dd>
        <dt><span>Customer</span></dt>
        <dd>
          <div *ngIf="beneficiary.customer">
            <a [routerLink]="['/customer', beneficiary.customer?.id, 'view']">{{ beneficiary.customer?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/beneficiary', beneficiary.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
