<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="generalLedger">
      <h2 data-cy="generalLedgerDetailsHeading"><span>General Ledger</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ generalLedger.id }}</span>
        </dd>
        <dt><span>Gl Ref No</span></dt>
        <dd>
          <span>{{ generalLedger.glRefNo }}</span>
        </dd>
        <dt><span>Gl Account No</span></dt>
        <dd>
          <span>{{ generalLedger.glAccountNo }}</span>
        </dd>
        <dt><span>Txn Date</span></dt>
        <dd>
          <span>{{ generalLedger.txnDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Txn Date In UTC</span></dt>
        <dd>
          <span>{{ generalLedger.txnDateInUTC | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Txn Date In Local</span></dt>
        <dd>
          <span>{{ generalLedger.txnDateInLocal | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Txn Date For Settlement</span></dt>
        <dd>
          <span>{{ generalLedger.txnDateForSettlement | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Amount In Account Currency</span></dt>
        <dd>
          <span>{{ generalLedger.amountInAccountCurrency }}</span>
        </dd>
        <dt><span>Amount In Local Currency</span></dt>
        <dd>
          <span>{{ generalLedger.amountInLocalCurrency }}</span>
        </dd>
        <dt><span>Rate</span></dt>
        <dd>
          <span>{{ generalLedger.rate }}</span>
        </dd>
        <dt><span>Entry Category</span></dt>
        <dd>
          <span>{{ generalLedger.entryCategory }}</span>
        </dd>
        <dt><span>Description 1</span></dt>
        <dd>
          <span>{{ generalLedger.description1 }}</span>
        </dd>
        <dt><span>Description 2</span></dt>
        <dd>
          <span>{{ generalLedger.description2 }}</span>
        </dd>
        <dt><span>Created On</span></dt>
        <dd>
          <span>{{ generalLedger.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ generalLedger.createdBy }}</span>
        </dd>
        <dt><span>Entry Status</span></dt>
        <dd>
          <span>{{ generalLedger.entryStatus }}</span>
        </dd>
        <dt><span>Gl Entry Type</span></dt>
        <dd>
          <span>{{ generalLedger.glEntryType }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/general-ledger', generalLedger.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
