<div>
  <h2 id="page-heading" data-cy="BeneficiaryHeading">
    <span>Beneficiaries</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-beneficiary"
        [routerLink]="['/beneficiary/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Beneficiary </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="beneficiaries?.length === 0">
    <span>No beneficiaries found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="beneficiaries && beneficiaries.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Name</span></th>
          <th scope="col"><span>Title</span></th>
          <th scope="col"><span>Ben. Account No</span></th>
          <th scope="col"><span>SWIFT Code</span></th>
          <th scope="col"><span>Ben. Bank Name</span></th>
          <th scope="col"><span>Country</span></th>
          <th scope="col"><span>Customer</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let beneficiary of beneficiaries; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/beneficiary', beneficiary.id, 'view']">{{ beneficiary.beneficiaryName }}</a>
          </td>
          <td>{{ beneficiary.title }}</td>
          <td>{{ beneficiary.beneficiaryAccountNo }}</td>
          <td>{{ beneficiary.beneficiarybankSwiftCode }}</td>
          <td>{{ beneficiary.beneficiaryBankName }}</td>
          <td>
            <div *ngIf="beneficiary.country">
              <a [routerLink]="['/country', beneficiary.country?.id, 'view']">{{ beneficiary.country?.name }}</a>
            </div>
          </td>

          <td>
            <div *ngIf="beneficiary.customer">
              <a [routerLink]="['/customer', beneficiary.customer?.id, 'view']">{{ beneficiary.customer?.firstName }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/beneficiary', beneficiary.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/beneficiary', beneficiary.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(beneficiary)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
