<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="walletTopupTransaction">
      <h2 data-cy="walletTopupTransactionDetailsHeading"><span>Wallet Topup Transaction</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.id }}</span>
        </dd>
        <dt><span>Txn Ref No</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.txnRefNo }}</span>
        </dd>
        <dt><span>Account No</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.accountNo }}</span>
        </dd>
        <dt><span>Txn Date</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.txnDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Txn Date In UTC</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.txnDateInUTC | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Txn Date In Local</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.txnDateInLocal | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Txn Date For Settlement</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.txnDateForSettlement | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Value Date</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.valueDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Value Date In UTC</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.valueDateInUTC | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Value Date In Local</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.valueDateInLocal | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Value Date For Settlement</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.valueDateForSettlement | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Txn Amount</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.txnAmount }}</span>
        </dd>
        <dt><span>Instructed Amount</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.instructedAmount }}</span>
        </dd>
        <dt><span>Amount In Account Currency</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.amountInAccountCurrency }}</span>
        </dd>
        <dt><span>Amount In Local Currency</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.amountInLocalCurrency }}</span>
        </dd>
        <dt><span>Charge In Account Currency</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.chargeInAccountCurrency }}</span>
        </dd>
        <dt><span>Charge In Local Currency</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.chargeInLocalCurrency }}</span>
        </dd>
        <dt><span>Funding Source</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.fundingSource }}</span>
        </dd>
        <dt><span>Merchant ID</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.merchantID }}</span>
        </dd>
        <dt><span>Merchant Info</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.merchantInfo }}</span>
        </dd>
        <dt><span>Bank Code</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.bankCode }}</span>
        </dd>
        <dt><span>External Ref No</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.externalRefNo }}</span>
        </dd>
        <dt><span>Txn Description</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.txnDescription }}</span>
        </dd>
        <dt><span>Txn Internal Description</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.txnInternalDescription }}</span>
        </dd>
        <dt><span>Txn Addnl Info</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.txnAddnlInfo }}</span>
        </dd>
        <dt><span>Created On</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.createdBy }}</span>
        </dd>
        <dt><span>Txn Status</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.txnStatus }}</span>
        </dd>
        <dt><span>Txn Debit Account No</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.txnDebitAccountNo }}</span>
        </dd>
        <dt><span>Txn Credit Account No</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.txnCreditAccountNo }}</span>
        </dd>
        <dt><span>Charge Debit Account No</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.chargeDebitAccountNo }}</span>
        </dd>
        <dt><span>Charge Credit Account No</span></dt>
        <dd>
          <span>{{ walletTopupTransaction.chargeCreditAccountNo }}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
          <div *ngIf="walletTopupTransaction.country">
            <a [routerLink]="['/country', walletTopupTransaction.country?.id, 'view']">{{ walletTopupTransaction.country?.name }}</a>
          </div>
        </dd>
        <dt><span>Txn Currency</span></dt>
        <dd>
          <div *ngIf="walletTopupTransaction.txnCurrency">
            <a [routerLink]="['/currency', walletTopupTransaction.txnCurrency?.id, 'view']">{{
              walletTopupTransaction.txnCurrency?.name
            }}</a>
          </div>
        </dd>
        <dt><span>Account Currency</span></dt>
        <dd>
          <div *ngIf="walletTopupTransaction.accountCurrency">
            <a [routerLink]="['/currency', walletTopupTransaction.accountCurrency?.id, 'view']">{{
              walletTopupTransaction.accountCurrency?.name
            }}</a>
          </div>
        </dd>
        <dt><span>Instructed Currency</span></dt>
        <dd>
          <div *ngIf="walletTopupTransaction.instructedCurrency">
            <a [routerLink]="['/currency', walletTopupTransaction.instructedCurrency?.id, 'view']">{{
              walletTopupTransaction.instructedCurrency?.name
            }}</a>
          </div>
        </dd>
        <dt><span>Purpose Of Txn</span></dt>
        <dd>
          <div *ngIf="walletTopupTransaction.purposeOfTxn">
            <a [routerLink]="['/purpose-of-txn', walletTopupTransaction.purposeOfTxn?.id, 'view']">{{
              walletTopupTransaction.purposeOfTxn?.name
            }}</a>
          </div>
        </dd>
        <dt><span>Funding Source Type</span></dt>
        <dd>
          <div *ngIf="walletTopupTransaction.fundingSourceType">
            <a [routerLink]="['/funding-source-type', walletTopupTransaction.fundingSourceType?.id, 'view']">{{
              walletTopupTransaction.fundingSourceType?.name
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/wallet-topup-transaction', walletTopupTransaction.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
