<div>
  <h2 id="page-heading" data-cy="GeneralLedgerHeading">
    <span>General Ledgers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-general-ledger"
        [routerLink]="['/general-ledger/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new General Ledger </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="generalLedgers?.length === 0">
    <span>No generalLedgers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="generalLedgers && generalLedgers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Gl Ref No</span></th>
          <th scope="col"><span>Gl Account No</span></th>
          <th scope="col"><span>Txn Date</span></th>
          <th scope="col"><span>Txn Date In UTC</span></th>
          <th scope="col"><span>Txn Date In Local</span></th>
          <th scope="col"><span>Txn Date For Settlement</span></th>
          <th scope="col"><span>Amount In Account Currency</span></th>
          <th scope="col"><span>Amount In Local Currency</span></th>
          <th scope="col"><span>Rate</span></th>
          <th scope="col"><span>Entry Category</span></th>
          <th scope="col"><span>Description 1</span></th>
          <th scope="col"><span>Description 2</span></th>
          <th scope="col"><span>Created On</span></th>
          <th scope="col"><span>Created By</span></th>
          <th scope="col"><span>Entry Status</span></th>
          <th scope="col"><span>Gl Entry Type</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let generalLedger of generalLedgers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/general-ledger', generalLedger.id, 'view']">{{ generalLedger.id }}</a>
          </td>
          <td>{{ generalLedger.glRefNo }}</td>
          <td>{{ generalLedger.glAccountNo }}</td>
          <td>{{ generalLedger.txnDate | formatMediumDate }}</td>
          <td>{{ generalLedger.txnDateInUTC | formatMediumDatetime }}</td>
          <td>{{ generalLedger.txnDateInLocal | formatMediumDatetime }}</td>
          <td>{{ generalLedger.txnDateForSettlement | formatMediumDatetime }}</td>
          <td>{{ generalLedger.amountInAccountCurrency }}</td>
          <td>{{ generalLedger.amountInLocalCurrency }}</td>
          <td>{{ generalLedger.rate }}</td>
          <td>{{ generalLedger.entryCategory }}</td>
          <td>{{ generalLedger.description1 }}</td>
          <td>{{ generalLedger.description2 }}</td>
          <td>{{ generalLedger.createdOn | formatMediumDatetime }}</td>
          <td>{{ generalLedger.createdBy }}</td>
          <td>{{ generalLedger.entryStatus }}</td>
          <td>{{ generalLedger.glEntryType }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/general-ledger', generalLedger.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/general-ledger', generalLedger.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(generalLedger)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
