<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="customerAddress">
      <h2 data-cy="customerAddressDetailsHeading"><span>Customer Address</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ customerAddress.id }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ customerAddress.title }}</span>
        </dd>
        <dt><span>Cif</span></dt>
        <dd>
          <span>{{ customerAddress.cif }}</span>
        </dd>
        <dt><span>Address 1</span></dt>
        <dd>
          <span>{{ customerAddress.address1 }}</span>
        </dd>
        <dt><span>Address 2</span></dt>
        <dd>
          <span>{{ customerAddress.address2 }}</span>
        </dd>
        <dt><span>Address 3</span></dt>
        <dd>
          <span>{{ customerAddress.address3 }}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
          <span>{{ customerAddress.city }}</span>
        </dd>
        <dt><span>Created On</span></dt>
        <dd>
          <span>{{ customerAddress.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ customerAddress.createdBy }}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
          <div *ngIf="customerAddress.country">
            <a [routerLink]="['/country', customerAddress.country?.id, 'view']">{{ customerAddress.country?.name }}</a>
          </div>
        </dd>
        <dt><span>Customer</span></dt>
        <dd>
          <div *ngIf="customerAddress.customer">
            <a [routerLink]="['/customer', customerAddress.customer?.id, 'view']">{{ customerAddress.customer?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/customer-address', customerAddress.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
