<div>
  <h2 id="page-heading" data-cy="CasaAccountHeading">
    <span>Casa Accounts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-casa-account"
        [routerLink]="['/casa-account/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Casa Account </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="casaAccounts?.length === 0">
    <span>No casaAccounts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="casaAccounts && casaAccounts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <!-- <th scope="col"><span>ID</span></th>
                <th scope="col"><span>Date</span></th>
                   <th scope="col"><span>Created On</span></th>
          <th scope="col"><span>Created By</span></th>
           <th scope="col"><span>Closing Balance</span></th>
          <th scope="col"><span>Opening Balance</span></th>
          <th scope="col"><span>Total Debit</span></th>
          <th scope="col"><span>Total Credit</span></th>
            <th scope="col"><span> Category</span></th>
          -->
          <th scope="col"><span>Account No</span></th>
          <th scope="col"><span>Account Name</span></th>

          <th scope="col"><span>Available Balance</span></th>
          <th scope="col"><span>Current Balance</span></th>

          <th scope="col"><span> Status</span></th>
          <th scope="col"><span> Type</span></th>

          <th scope="col"><span> Currency</span></th>
          <th scope="col"><span>Customer</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let casaAccount of casaAccounts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/casa-account', casaAccount.id, 'view']">{{ casaAccount.accountNo }}</a>
          </td>
          <!-- 
                <td>{{ casaAccount.id }}</td>
                 <td>{{ casaAccount.date | formatMediumDate }}</td>
                     <td>{{ casaAccount.createdOn | formatMediumDatetime }}</td>
          <td>{{ casaAccount.createdBy }}</td>
            <td>{{ casaAccount.closingBalance }}</td>
          <td>{{ casaAccount.openingBalance }}</td>
          <td>{{ casaAccount.totalDebit }}</td>
          <td>{{ casaAccount.totalCredit }}</td>

            <td>
            <div *ngIf="casaAccount.accountCategory">
              <a [routerLink]="['/account-category', casaAccount.accountCategory?.id, 'view']">{{ casaAccount.accountCategory?.name }}</a>
            </div>
          </td>
          -->

          <td>{{ casaAccount.accountName }}</td>

          <td>{{ casaAccount.availableBalance }}</td>
          <td>{{ casaAccount.currentBalance }}</td>

          <td>{{ casaAccount.accountStatus }}</td>
          <td>
            <div *ngIf="casaAccount.accountType">
              <a [routerLink]="['/account-type', casaAccount.accountType?.id, 'view']">{{ casaAccount.accountType?.name }}</a>
            </div>
          </td>

          <td>
            <div *ngIf="casaAccount.accountCurrency">
              <a [routerLink]="['/currency', casaAccount.accountCurrency?.id, 'view']">{{ casaAccount.accountCurrency?.code }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="casaAccount.customer">
              <a [routerLink]="['/customer', casaAccount.customer?.id, 'view']">{{ casaAccount.customer?.cif }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/casa-account', casaAccount.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/casa-account', casaAccount.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(casaAccount)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
