<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-remittance-transaction-heading" data-cy="RemittanceTransactionCreateUpdateHeading">Create Remittance Transaction</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_customer">Customer</label>
              <select
                (change)="changeCustomer()"
                class="form-control"
                id="field_customer"
                data-cy="customer"
                name="customer"
                formControlName="customer"
              >
                <option [ngValue]="null"></option>
                <option
                  [ngValue]="customerOption.id === editForm.get('customer')!.value?.id ? editForm.get('customer')!.value : customerOption"
                  *ngFor="let customerOption of customersSharedCollection; trackBy: trackCustomerById"
                >
                  {{ customerOption.id }}&nbsp;&nbsp;{{ customerOption.firstName }}
                </option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_casaAccount">Account</label>
              <select
                (change)="changeCasaAccount()"
                class="form-control"
                id="field_casaAccount"
                data-cy="casaAccount"
                name="casaAccount"
                formControlName="casaAccount"
              >
                <option [ngValue]="null"></option>
                <option
                  [ngValue]="
                    casaAccountOption.id === editForm.get('casaAccount')!.value?.id ? editForm.get('casaAccount')!.value : casaAccountOption
                  "
                  *ngFor="let casaAccountOption of casaAccountsSharedCollection; trackBy: trackCasaAccountById"
                >
                  {{ casaAccountOption.accountNo }}
                </option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_beneficiary">Beneficary</label>
              <select
                (change)="changeBeneficiary()"
                class="form-control"
                id="field_beneficiary"
                data-cy="beneficiary"
                name="beneficiary"
                formControlName="beneficiary"
              >
                <option [ngValue]="null"></option>
                <option
                  [ngValue]="
                    beneficiaryOption.id === editForm.get('beneficiary')!.value?.id ? editForm.get('beneficiary')!.value : beneficiaryOption
                  "
                  *ngFor="let beneficiaryOption of beneficiariesSharedCollection; trackBy: trackBeneficiaryById"
                >
                  {{ beneficiaryOption.title }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>
        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_txnRefNo">Txn Ref No</label>
          <input type="text" class="form-control" name="txnRefNo" id="field_txnRefNo" data-cy="txnRefNo" formControlName="txnRefNo" />
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_accountNo">Account No</label>
              <input
                type="text"
                class="form-control"
                name="accountNo"
                id="field_accountNo"
                data-cy="accountNo"
                formControlName="accountNo"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_txnDate">Txn Date</label>
              <div class="input-group">
                <input
                  id="field_txnDate"
                  data-cy="txnDate"
                  type="text"
                  class="form-control"
                  name="txnDate"
                  ngbDatepicker
                  #txnDateDp="ngbDatepicker"
                  formControlName="txnDate"
                />
                <span class="input-group-append">
                  <button type="button" class="btn btn-secondary" (click)="txnDateDp.toggle()">
                    <fa-icon icon="calendar-alt"></fa-icon>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_valueDate">Value Date</label>
              <div class="input-group">
                <input
                  id="field_valueDate"
                  data-cy="valueDate"
                  type="text"
                  class="form-control"
                  name="valueDate"
                  ngbDatepicker
                  #valueDateDp="ngbDatepicker"
                  formControlName="valueDate"
                />
                <span class="input-group-append">
                  <button type="button" class="btn btn-secondary" (click)="valueDateDp.toggle()">
                    <fa-icon icon="calendar-alt"></fa-icon>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_beneficiaryName">Ben. Name</label>
              <input
                type="text"
                class="form-control"
                name="beneficiaryName"
                id="field_beneficiaryName"
                data-cy="beneficiaryName"
                formControlName="beneficiaryName"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_beneficiaryAccountNo">Ben. Account No</label>
              <input
                type="text"
                class="form-control"
                name="beneficiaryAccountNo"
                id="field_beneficiaryAccountNo"
                data-cy="beneficiaryAccountNo"
                formControlName="beneficiaryAccountNo"
              />
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_beneficiarybankSwiftCode">Ben. Swift Code</label>
              <input
                type="text"
                class="form-control"
                name="beneficiarybankSwiftCode"
                id="field_beneficiarybankSwiftCode"
                data-cy="beneficiarybankSwiftCode"
                formControlName="beneficiarybankSwiftCode"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_beneficiaryBankName">Ben. Bank Name</label>
              <input
                type="text"
                class="form-control"
                name="beneficiaryBankName"
                id="field_beneficiaryBankName"
                data-cy="beneficiaryBankName"
                formControlName="beneficiaryBankName"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_beneficiaryBankBranchName">Ben. Bank Branch </label>
              <input
                type="text"
                class="form-control"
                name="beneficiaryBankBranchName"
                id="field_beneficiaryBankBranchName"
                data-cy="beneficiaryBankBranchName"
                formControlName="beneficiaryBankBranchName"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_country">Ben. Country</label>
              <select class="form-control" id="field_country" data-cy="country" name="country" formControlName="country">
                <option [ngValue]="null"></option>
                <option
                  [ngValue]="countryOption.id === editForm.get('country')!.value?.id ? editForm.get('country')!.value : countryOption"
                  *ngFor="let countryOption of countriesSharedCollection; trackBy: trackCountryById"
                >
                  {{ countryOption.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_beneficiaryAddress1">Ben. Address 1</label>
              <input
                type="text"
                class="form-control"
                name="beneficiaryAddress1"
                id="field_beneficiaryAddress1"
                data-cy="beneficiaryAddress1"
                formControlName="beneficiaryAddress1"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_beneficiaryAddress2">Ben. Address 2</label>
              <input
                type="text"
                class="form-control"
                name="beneficiaryAddress2"
                id="field_beneficiaryAddress2"
                data-cy="beneficiaryAddress2"
                formControlName="beneficiaryAddress2"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_beneficiaryState">Ben. State</label>
              <input
                type="text"
                class="form-control"
                name="beneficiaryState"
                id="field_beneficiaryState"
                data-cy="beneficiaryState"
                formControlName="beneficiaryState"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_txnCurrency">Txn Currency</label>
              <select
                (change)="changeCurrency()"
                class="form-control"
                id="field_txnCurrency"
                data-cy="txnCurrency"
                name="txnCurrency"
                formControlName="txnCurrency"
              >
                <option [ngValue]="null"></option>
                <option
                  [ngValue]="
                    currencyOption.id === editForm.get('txnCurrency')!.value?.id ? editForm.get('txnCurrency')!.value : currencyOption
                  "
                  *ngFor="let currencyOption of currenciesSharedCollection; trackBy: trackCurrencyById"
                >
                  {{ currencyOption.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_txnAmount">Txn Amount</label>
              <input
                (blur)="changeTxnAmount()"
                type="number"
                class="form-control"
                name="txnAmount"
                id="field_txnAmount"
                data-cy="txnAmount"
                formControlName="txnAmount"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_rate">Rate</label>
              <input type="number" class="form-control" name="rate" id="field_rate" data-cy="rate" formControlName="rate" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_amountInAccountCurrency">Amount In Acc. Currency</label>
              <input
                type="number"
                class="form-control"
                name="amountInAccountCurrency"
                id="field_amountInAccountCurrency"
                data-cy="amountInAccountCurrency"
                formControlName="amountInAccountCurrency"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_chargeInAccountCurrency">Charge In Account Currency</label>
              <input
                type="number"
                class="form-control"
                name="chargeInAccountCurrency"
                id="field_chargeInAccountCurrency"
                data-cy="chargeInAccountCurrency"
                formControlName="chargeInAccountCurrency"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_purposeOfTxn">Purpose Of Txn</label>
              <select
                class="form-control"
                id="field_purposeOfTxn"
                data-cy="purposeOfTxn"
                name="purposeOfTxn"
                formControlName="purposeOfTxn"
              >
                <option [ngValue]="null"></option>
                <option
                  [ngValue]="
                    purposeOfTxnOption.id === editForm.get('purposeOfTxn')!.value?.id
                      ? editForm.get('purposeOfTxn')!.value
                      : purposeOfTxnOption
                  "
                  *ngFor="let purposeOfTxnOption of purposeOfTxnsSharedCollection; trackBy: trackPurposeOfTxnById"
                >
                  {{ purposeOfTxnOption.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_txnDescription">Txn Description</label>
          <input
            type="text"
            class="form-control"
            name="txnDescription"
            id="field_txnDescription"
            data-cy="txnDescription"
            formControlName="txnDescription"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
