<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-beneficiary-heading" data-cy="BeneficiaryCreateUpdateHeading">Create or edit a Beneficiary</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_title">Title</label>
              <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_beneficiaryName">Beneficiary Name</label>
              <input
                type="text"
                class="form-control"
                name="beneficiaryName"
                id="field_beneficiaryName"
                data-cy="beneficiaryName"
                formControlName="beneficiaryName"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_beneficiaryAccountNo">Beneficiary Account No</label>
              <input
                type="text"
                class="form-control"
                name="beneficiaryAccountNo"
                id="field_beneficiaryAccountNo"
                data-cy="beneficiaryAccountNo"
                formControlName="beneficiaryAccountNo"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_beneficiarybankSwiftCode">Beneficiarybank Swift Code</label>
              <input
                type="text"
                class="form-control"
                name="beneficiarybankSwiftCode"
                id="field_beneficiarybankSwiftCode"
                data-cy="beneficiarybankSwiftCode"
                formControlName="beneficiarybankSwiftCode"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_intermediaryBankSwiftCode">Intermediary Bank Swift Code</label>
              <input
                type="text"
                class="form-control"
                name="intermediaryBankSwiftCode"
                id="field_intermediaryBankSwiftCode"
                data-cy="intermediaryBankSwiftCode"
                formControlName="intermediaryBankSwiftCode"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_beneficiaryBankName">Beneficiary Bank Name</label>
              <input
                type="text"
                class="form-control"
                name="beneficiaryBankName"
                id="field_beneficiaryBankName"
                data-cy="beneficiaryBankName"
                formControlName="beneficiaryBankName"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_beneficiaryBankBranchName">Beneficiary Bank Branch Name</label>
              <input
                type="text"
                class="form-control"
                name="beneficiaryBankBranchName"
                id="field_beneficiaryBankBranchName"
                data-cy="beneficiaryBankBranchName"
                formControlName="beneficiaryBankBranchName"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_beneficiaryAddress1">Beneficiary Address 1</label>
              <input
                type="text"
                class="form-control"
                name="beneficiaryAddress1"
                id="field_beneficiaryAddress1"
                data-cy="beneficiaryAddress1"
                formControlName="beneficiaryAddress1"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_beneficiaryAddress2">Beneficiary Address 2</label>
              <input
                type="text"
                class="form-control"
                name="beneficiaryAddress2"
                id="field_beneficiaryAddress2"
                data-cy="beneficiaryAddress2"
                formControlName="beneficiaryAddress2"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_beneficiaryAddress3">Beneficiary Address 3</label>
              <input
                type="text"
                class="form-control"
                name="beneficiaryAddress3"
                id="field_beneficiaryAddress3"
                data-cy="beneficiaryAddress3"
                formControlName="beneficiaryAddress3"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_beneficiaryState">Beneficiary State</label>
              <input
                type="text"
                class="form-control"
                name="beneficiaryState"
                id="field_beneficiaryState"
                data-cy="beneficiaryState"
                formControlName="beneficiaryState"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_beneficiaryPinCode">Beneficiary Pin Code</label>
              <input
                type="text"
                class="form-control"
                name="beneficiaryPinCode"
                id="field_beneficiaryPinCode"
                data-cy="beneficiaryPinCode"
                formControlName="beneficiaryPinCode"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_country">Country</label>
              <select class="form-control" id="field_country" data-cy="country" name="country" formControlName="country">
                <option [ngValue]="null"></option>
                <option
                  [ngValue]="countryOption.id === editForm.get('country')!.value?.id ? editForm.get('country')!.value : countryOption"
                  *ngFor="let countryOption of countriesSharedCollection; trackBy: trackCountryById"
                >
                  {{ countryOption.name }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="field_customer">Customer</label>
              <select class="form-control" id="field_customer" data-cy="customer" name="customer" formControlName="customer">
                <option [ngValue]="null"></option>
                <option
                  [ngValue]="customerOption.id === editForm.get('customer')!.value?.id ? editForm.get('customer')!.value : customerOption"
                  *ngFor="let customerOption of customersSharedCollection; trackBy: trackCustomerById"
                >
                  {{ customerOption.id }}&nbsp;&nbsp;{{ customerOption.firstName }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
