<div>
  <h2 id="page-heading" data-cy="FxRateHeading">
    <span>Fx Rates</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fx-rate"
        [routerLink]="['/fx-rate/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Fx Rate </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="fxRates?.length === 0">
    <span>No fxRates found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="fxRates && fxRates.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Type</span></th>
          <th scope="col"><span>Base Currency</span></th>
          <th scope="col"><span>Quote Currency</span></th>
          <th scope="col"><span>Ask Price</span></th>
          <th scope="col"><span>Bid Price</span></th>
          <th scope="col"><span>Mid Price</span></th>
          <th scope="col"><span>Ask Margin</span></th>
          <th scope="col"><span>Bid Margin</span></th>
          <th scope="col"><span>Segment</span></th>
          <th scope="col"><span>Amount Slab</span></th>
          <th scope="col"><span>Amount Slab Value</span></th>
          <th scope="col"><span>Amount Slab Operator</span></th>
          <th scope="col"><span>Amount Slab Currency</span></th>
          <th scope="col"><span>Record Status</span></th>
          <th scope="col"><span>Validfrom</span></th>
          <th scope="col"><span>Valid To</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fxRate of fxRates; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/fx-rate', fxRate.id, 'view']">{{ fxRate.id }}</a>
          </td>
          <td>{{ fxRate.type }}</td>
          <td>{{ fxRate.baseCurrency }}</td>
          <td>{{ fxRate.quoteCurrency }}</td>
          <td>{{ fxRate.askPrice }}</td>
          <td>{{ fxRate.bidPrice }}</td>
          <td>{{ fxRate.midPrice }}</td>
          <td>{{ fxRate.askMargin }}</td>
          <td>{{ fxRate.bidMargin }}</td>
          <td>{{ fxRate.segment }}</td>
          <td>{{ fxRate.amountSlab }}</td>
          <td>{{ fxRate.amountSlabValue }}</td>
          <td>{{ fxRate.amountSlabOperator }}</td>
          <td>{{ fxRate.amountSlabCurrency }}</td>
          <td>{{ fxRate.recordStatus }}</td>
          <td>{{ fxRate.validfrom | formatMediumDate }}</td>
          <td>{{ fxRate.validTo | formatMediumDate }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/fx-rate', fxRate.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/fx-rate', fxRate.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(fxRate)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
