<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="subLedger">
      <h2 data-cy="subLedgerDetailsHeading"><span>Sub Ledger</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ subLedger.id }}</span>
        </dd>
        <dt><span>Sub Ledger Ref No</span></dt>
        <dd>
          <span>{{ subLedger.subLedgerRefNo }}</span>
        </dd>
        <dt><span>Account No</span></dt>
        <dd>
          <span>{{ subLedger.accountNo }}</span>
        </dd>
        <dt><span>Txn Date</span></dt>
        <dd>
          <span>{{ subLedger.txnDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Txn Date In UTC</span></dt>
        <dd>
          <span>{{ subLedger.txnDateInUTC | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Txn Date In Local</span></dt>
        <dd>
          <span>{{ subLedger.txnDateInLocal | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Txn Date For Settlement</span></dt>
        <dd>
          <span>{{ subLedger.txnDateForSettlement | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Amount In Account Currency</span></dt>
        <dd>
          <span>{{ subLedger.amountInAccountCurrency }}</span>
        </dd>
        <dt><span>Amount In Local Currency</span></dt>
        <dd>
          <span>{{ subLedger.amountInLocalCurrency }}</span>
        </dd>
        <dt><span>Rate</span></dt>
        <dd>
          <span>{{ subLedger.rate }}</span>
        </dd>
        <dt><span>Entry Category</span></dt>
        <dd>
          <span>{{ subLedger.entryCategory }}</span>
        </dd>
        <dt><span>Description 1</span></dt>
        <dd>
          <span>{{ subLedger.description1 }}</span>
        </dd>
        <dt><span>Description 2</span></dt>
        <dd>
          <span>{{ subLedger.description2 }}</span>
        </dd>
        <dt><span>Created On</span></dt>
        <dd>
          <span>{{ subLedger.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ subLedger.createdBy }}</span>
        </dd>
        <dt><span>Entry Status</span></dt>
        <dd>
          <span>{{ subLedger.entryStatus }}</span>
        </dd>
        <dt><span>Gl Entry Type</span></dt>
        <dd>
          <span>{{ subLedger.glEntryType }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/sub-ledger', subLedger.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
