<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="casaAccount">
      <h2 data-cy="casaAccountDetailsHeading"><span>Casa Account</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ casaAccount.id }}</span>
        </dd>
        <dt><span>Account No</span></dt>
        <dd>
          <span>{{ casaAccount.accountNo }}</span>
        </dd>
        <dt><span>Account Name</span></dt>
        <dd>
          <span>{{ casaAccount.accountName }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ casaAccount.date | formatMediumDate }}</span>
        </dd>
        <dt><span>Closing Balance</span></dt>
        <dd>
          <span>{{ casaAccount.closingBalance }}</span>
        </dd>
        <dt><span>Opening Balance</span></dt>
        <dd>
          <span>{{ casaAccount.openingBalance }}</span>
        </dd>
        <dt><span>Total Debit</span></dt>
        <dd>
          <span>{{ casaAccount.totalDebit }}</span>
        </dd>
        <dt><span>Total Credit</span></dt>
        <dd>
          <span>{{ casaAccount.totalCredit }}</span>
        </dd>
        <dt><span>Available Balance</span></dt>
        <dd>
          <span>{{ casaAccount.availableBalance }}</span>
        </dd>
        <dt><span>Current Balance</span></dt>
        <dd>
          <span>{{ casaAccount.currentBalance }}</span>
        </dd>
        <dt><span>Created On</span></dt>
        <dd>
          <span>{{ casaAccount.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ casaAccount.createdBy }}</span>
        </dd>
        <dt><span>Account Status</span></dt>
        <dd>
          <span>{{ acStatus }}</span>
        </dd>
        <dt><span>Account Type</span></dt>
        <dd>
          <div *ngIf="casaAccount.accountType">
            <a [routerLink]="['/account-type', casaAccount.accountType?.id, 'view']">{{ casaAccount.accountType?.name }}</a>
          </div>
        </dd>
        <dt><span>Account Category</span></dt>
        <dd>
          <div *ngIf="casaAccount.accountCategory">
            <a [routerLink]="['/account-category', casaAccount.accountCategory?.id, 'view']">{{ casaAccount.accountCategory?.name }}</a>
          </div>
        </dd>
        <dt><span>Account Currency</span></dt>
        <dd>
          <div *ngIf="casaAccount.accountCurrency">
            <a [routerLink]="['/currency', casaAccount.accountCurrency?.id, 'view']">{{ casaAccount.accountCurrency?.name }}</a>
          </div>
        </dd>
        <dt><span>Customer</span></dt>
        <dd>
          <div *ngIf="casaAccount.customer">
            <a [routerLink]="['/customer', casaAccount.customer?.id, 'view']">
              {{ casaAccount.customer.cif }} &nbsp;{{ casaAccount.customer.nameInLocalLang }}</a
            >
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/casa-account', casaAccount.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
