<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="glAccount">
      <h2 data-cy="glAccountDetailsHeading"><span>Gl Account</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ glAccount.id }}</span>
        </dd>
        <dt><span>Account No</span></dt>
        <dd>
          <span>{{ glAccount.accountNo }}</span>
        </dd>
        <dt><span>Account Name</span></dt>
        <dd>
          <span>{{ glAccount.accountName }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ glAccount.date | formatMediumDate }}</span>
        </dd>
        <dt><span>Closing Balance</span></dt>
        <dd>
          <span>{{ glAccount.closingBalance }}</span>
        </dd>
        <dt><span>Opening Balance</span></dt>
        <dd>
          <span>{{ glAccount.openingBalance }}</span>
        </dd>
        <dt><span>Total Debit</span></dt>
        <dd>
          <span>{{ glAccount.totalDebit }}</span>
        </dd>
        <dt><span>Total Credit</span></dt>
        <dd>
          <span>{{ glAccount.totalCredit }}</span>
        </dd>
        <dt><span>Available Balance</span></dt>
        <dd>
          <span>{{ glAccount.availableBalance }}</span>
        </dd>
        <dt><span>Current Balance</span></dt>
        <dd>
          <span>{{ glAccount.currentBalance }}</span>
        </dd>
        <dt><span>Created On</span></dt>
        <dd>
          <span>{{ glAccount.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ glAccount.createdBy }}</span>
        </dd>
        <dt><span>Gl Account Status</span></dt>
        <dd>
          <span>{{ glAccount.glAccountStatus }}</span>
        </dd>
        <dt><span>Gl Account Type</span></dt>
        <dd>
          <span>{{ glAccount.glAccountType }}</span>
        </dd>
        <dt><span>Account Currency</span></dt>
        <dd>
          <div *ngIf="glAccount.accountCurrency">
            <a [routerLink]="['/currency', glAccount.accountCurrency?.id, 'view']">{{ glAccount.accountCurrency?.name }}</a>
          </div>
        </dd>
        <dt><span>Gl Account Category</span></dt>
        <dd>
          <div *ngIf="glAccount.glAccountCategory">
            <a [routerLink]="['/gl-account-category', glAccount.glAccountCategory?.id, 'view']">{{ glAccount.glAccountCategory?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/gl-account', glAccount.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
