<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-customer-heading" data-cy="CustomerCreateUpdateHeading">Create or edit a Customer</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_cif">Cif</label>
          <input type="text" class="form-control" name="cif" id="field_cif" data-cy="cif" formControlName="cif" />
          <div *ngIf="editForm.get('cif')!.invalid && (editForm.get('cif')!.dirty || editForm.get('cif')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('cif')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_middleName">Middle Name</label>
          <input
            type="text"
            class="form-control"
            name="middleName"
            id="field_middleName"
            data-cy="middleName"
            formControlName="middleName"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
          <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('lastName')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nameInLocalLang">Name In Local Lang</label>
          <input
            type="text"
            class="form-control"
            name="nameInLocalLang"
            id="field_nameInLocalLang"
            data-cy="nameInLocalLang"
            formControlName="nameInLocalLang"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_telephone">Telephone</label>
          <input type="text" class="form-control" name="telephone" id="field_telephone" data-cy="telephone" formControlName="telephone" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_mobile">Mobile</label>
          <input type="text" class="form-control" name="mobile" id="field_mobile" data-cy="mobile" formControlName="mobile" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_createdOn">Created On</label>
          <div class="d-flex">
            <input
              id="field_createdOn"
              data-cy="createdOn"
              type="datetime-local"
              class="form-control"
              name="createdOn"
              formControlName="createdOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_customerStatus">Customer Status</label>
          <select
            class="form-control"
            name="customerStatus"
            formControlName="customerStatus"
            id="field_customerStatus"
            data-cy="customerStatus"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let customerStatus of customerStatusValues" [value]="customerStatus">customerStatus</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nationality">Nationality</label>
          <select class="form-control" id="field_nationality" data-cy="nationality" name="nationality" formControlName="nationality">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="countryOption.id === editForm.get('nationality')!.value?.id ? editForm.get('nationality')!.value : countryOption"
              *ngFor="let countryOption of countriesSharedCollection; trackBy: trackCountryById"
            >
              {{ countryOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_customerType">Customer Type</label>
          <select class="form-control" id="field_customerType" data-cy="customerType" name="customerType" formControlName="customerType">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                customerTypeOption.id === editForm.get('customerType')!.value?.id ? editForm.get('customerType')!.value : customerTypeOption
              "
              *ngFor="let customerTypeOption of customerTypesSharedCollection; trackBy: trackCustomerTypeById"
            >
              {{ customerTypeOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_customerSegment">Customer Segment</label>
          <select
            class="form-control"
            id="field_customerSegment"
            data-cy="customerSegment"
            name="customerSegment"
            formControlName="customerSegment"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                customerSegmentOption.id === editForm.get('customerSegment')!.value?.id
                  ? editForm.get('customerSegment')!.value
                  : customerSegmentOption
              "
              *ngFor="let customerSegmentOption of customerSegmentsSharedCollection; trackBy: trackCustomerSegmentById"
            >
              {{ customerSegmentOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
