<div>
  <h2 id="page-heading" data-cy="CasaAccountDayBalanceHeading">
    <span>Casa Account Day Balances</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-casa-account-day-balance"
        [routerLink]="['/casa-account-day-balance/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Casa Account Day Balance </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="casaAccountDayBalances?.length === 0">
    <span>No casaAccountDayBalances found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="casaAccountDayBalances && casaAccountDayBalances.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <!--<th scope="col"><span>Account No</span></th>-->
          <th scope="col"><span>Date</span></th>
          <th scope="col"><span>Closing Balance</span></th>
          <th scope="col"><span>Opening Balance</span></th>
          <th scope="col"><span>Total Debit</span></th>
          <th scope="col"><span>Total Credit</span></th>
          <th scope="col"><span>Available Balance</span></th>
          <th scope="col"><span>Current Balance</span></th>
          <th scope="col"><span>Casa Account</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let casaAccountDayBalance of casaAccountDayBalances; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/casa-account-day-balance', casaAccountDayBalance.id, 'view']">{{ casaAccountDayBalance.id }}</a>
          </td>
          <!--  <td>{{ casaAccountDayBalance.accountNo }}</td>-->
          <td>{{ casaAccountDayBalance.date | formatMediumDate }}</td>
          <td>{{ casaAccountDayBalance.closingBalance }}</td>
          <td>{{ casaAccountDayBalance.openingBalance }}</td>
          <td>{{ casaAccountDayBalance.totalDebit }}</td>
          <td>{{ casaAccountDayBalance.totalCredit }}</td>
          <td>{{ casaAccountDayBalance.availableBalance }}</td>
          <td>{{ casaAccountDayBalance.currentBalance }}</td>

          <td>
            <div *ngIf="casaAccountDayBalance.casaAccount">
              <a [routerLink]="['/casa-account', casaAccountDayBalance.casaAccount?.id, 'view']">{{
                casaAccountDayBalance.casaAccount?.accountNo
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/casa-account-day-balance', casaAccountDayBalance.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/casa-account-day-balance', casaAccountDayBalance.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(casaAccountDayBalance)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
