<div>
  <h2 id="page-heading" data-cy="MerchantHeading">
    <span>Merchants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-merchant"
        [routerLink]="['/merchant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Merchant </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="merchants?.length === 0">
    <span>No merchants found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="merchants && merchants.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Merchant ID</span></th>
          <th scope="col"><span>Merchant Name</span></th>
          <th scope="col"><span>Merchant Category</span></th>
          <th scope="col"><span>Merchant GL Account No</span></th>
          <th scope="col"><span>Merchant Bank Account No</span></th>
          <th scope="col"><span>Merchant Bank Account Currency</span></th>
          <th scope="col"><span>Merchant Bank Code</span></th>
          <th scope="col"><span>Merchant Bank Name</span></th>
          <th scope="col"><span>Merchant Address</span></th>
          <th scope="col"><span>Merchant City</span></th>
          <th scope="col"><span>Created On</span></th>
          <th scope="col"><span>Created By</span></th>
          <th scope="col"><span>Merchant Stataus</span></th>
          <th scope="col"><span>Country</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let merchant of merchants; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/merchant', merchant.id, 'view']">{{ merchant.id }}</a>
          </td>
          <td>{{ merchant.merchantID }}</td>
          <td>{{ merchant.merchantName }}</td>
          <td>{{ merchant.merchantCategory }}</td>
          <td>{{ merchant.merchantGLAccountNo }}</td>
          <td>{{ merchant.merchantBankAccountNo }}</td>
          <td>{{ merchant.merchantBankAccountCurrency }}</td>
          <td>{{ merchant.merchantBankCode }}</td>
          <td>{{ merchant.merchantBankName }}</td>
          <td>{{ merchant.merchantAddress }}</td>
          <td>{{ merchant.merchantCity }}</td>
          <td>{{ merchant.createdOn | formatMediumDatetime }}</td>
          <td>{{ merchant.createdBy }}</td>
          <td>{{ merchant.merchantStataus }}</td>
          <td>
            <div *ngIf="merchant.country">
              <a [routerLink]="['/country', merchant.country?.id, 'view']">{{ merchant.country?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/merchant', merchant.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/merchant', merchant.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(merchant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
