<div>
  <h2 id="page-heading" data-cy="WalletTransactionHeading">
    <span>Wallet Transactions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-wallet-transaction"
        [routerLink]="['/wallet-transaction/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Wallet Transaction </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="walletTransactions?.length === 0">
    <span>No walletTransactions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="walletTransactions && walletTransactions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Txn Ref No</span></th>
          <th scope="col"><span>Account No</span></th>
          <th scope="col"><span>Txn Date</span></th>
          <th scope="col"><span>Txn Date In UTC</span></th>
          <th scope="col"><span>Txn Date In Local</span></th>
          <th scope="col"><span>Txn Date For Settlement</span></th>
          <th scope="col"><span>Value Date</span></th>
          <th scope="col"><span>Value Date In UTC</span></th>
          <th scope="col"><span>Value Date In Local</span></th>
          <th scope="col"><span>Value Date For Settlement</span></th>
          <th scope="col"><span>Txn Amount</span></th>
          <th scope="col"><span>Instructed Amount</span></th>
          <th scope="col"><span>Amount In Account Currency</span></th>
          <th scope="col"><span>Amount In Local Currency</span></th>
          <th scope="col"><span>Charge In Account Currency</span></th>
          <th scope="col"><span>Charge In Local Currency</span></th>
          <th scope="col"><span>Funding Source</span></th>
          <th scope="col"><span>Merchant ID</span></th>
          <th scope="col"><span>Merchant Info</span></th>
          <th scope="col"><span>External Ref No</span></th>
          <th scope="col"><span>Txn Description</span></th>
          <th scope="col"><span>Txn Internal Description</span></th>
          <th scope="col"><span>Created On</span></th>
          <th scope="col"><span>Created By</span></th>
          <th scope="col"><span>Txn Status</span></th>
          <th scope="col"><span>Txn Debit Account No</span></th>
          <th scope="col"><span>Txn Credit Account No</span></th>
          <th scope="col"><span>Charge Debit Account No</span></th>
          <th scope="col"><span>Charge Credit Account No</span></th>
          <th scope="col"><span>Country</span></th>
          <th scope="col"><span>Txn Currency</span></th>
          <th scope="col"><span>Account Currency</span></th>
          <th scope="col"><span>Instructed Currency</span></th>
          <th scope="col"><span>Purpose Of Txn</span></th>
          <th scope="col"><span>Funding Source Type</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let walletTransaction of walletTransactions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/wallet-transaction', walletTransaction.id, 'view']">{{ walletTransaction.id }}</a>
          </td>
          <td>{{ walletTransaction.txnRefNo }}</td>
          <td>{{ walletTransaction.accountNo }}</td>
          <td>{{ walletTransaction.txnDate | formatMediumDate }}</td>
          <td>{{ walletTransaction.txnDateInUTC | formatMediumDatetime }}</td>
          <td>{{ walletTransaction.txnDateInLocal | formatMediumDatetime }}</td>
          <td>{{ walletTransaction.txnDateForSettlement | formatMediumDatetime }}</td>
          <td>{{ walletTransaction.valueDate | formatMediumDate }}</td>
          <td>{{ walletTransaction.valueDateInUTC | formatMediumDatetime }}</td>
          <td>{{ walletTransaction.valueDateInLocal | formatMediumDatetime }}</td>
          <td>{{ walletTransaction.valueDateForSettlement | formatMediumDatetime }}</td>
          <td>{{ walletTransaction.txnAmount }}</td>
          <td>{{ walletTransaction.instructedAmount }}</td>
          <td>{{ walletTransaction.amountInAccountCurrency }}</td>
          <td>{{ walletTransaction.amountInLocalCurrency }}</td>
          <td>{{ walletTransaction.chargeInAccountCurrency }}</td>
          <td>{{ walletTransaction.chargeInLocalCurrency }}</td>
          <td>{{ walletTransaction.fundingSource }}</td>
          <td>{{ walletTransaction.merchantID }}</td>
          <td>{{ walletTransaction.merchantInfo }}</td>
          <td>{{ walletTransaction.externalRefNo }}</td>
          <td>{{ walletTransaction.txnDescription }}</td>
          <td>{{ walletTransaction.txnInternalDescription }}</td>
          <td>{{ walletTransaction.createdOn | formatMediumDatetime }}</td>
          <td>{{ walletTransaction.createdBy }}</td>
          <td>{{ walletTransaction.txnStatus }}</td>
          <td>{{ walletTransaction.txnDebitAccountNo }}</td>
          <td>{{ walletTransaction.txnCreditAccountNo }}</td>
          <td>{{ walletTransaction.chargeDebitAccountNo }}</td>
          <td>{{ walletTransaction.chargeCreditAccountNo }}</td>
          <td>
            <div *ngIf="walletTransaction.country">
              <a [routerLink]="['/country', walletTransaction.country?.id, 'view']">{{ walletTransaction.country?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="walletTransaction.txnCurrency">
              <a [routerLink]="['/currency', walletTransaction.txnCurrency?.id, 'view']">{{ walletTransaction.txnCurrency?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="walletTransaction.accountCurrency">
              <a [routerLink]="['/currency', walletTransaction.accountCurrency?.id, 'view']">{{
                walletTransaction.accountCurrency?.name
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="walletTransaction.instructedCurrency">
              <a [routerLink]="['/currency', walletTransaction.instructedCurrency?.id, 'view']">{{
                walletTransaction.instructedCurrency?.name
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="walletTransaction.purposeOfTxn">
              <a [routerLink]="['/purpose-of-txn', walletTransaction.purposeOfTxn?.id, 'view']">{{
                walletTransaction.purposeOfTxn?.name
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="walletTransaction.fundingSourceType">
              <a [routerLink]="['/funding-source-type', walletTransaction.fundingSourceType?.id, 'view']">{{
                walletTransaction.fundingSourceType?.name
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/wallet-transaction', walletTransaction.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/wallet-transaction', walletTransaction.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(walletTransaction)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
