<div>
  <h2 id="page-heading" data-cy="RemittanceTransactionHeading">
    <span>Remittance Transactions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-remittance-transaction"
        [routerLink]="['/remittance-transaction/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Remittance Transaction </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="remittanceTransactions?.length === 0">
    <span>No remittanceTransactions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="remittanceTransactions && remittanceTransactions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Txn Ref No</span></th>
          <th scope="col"><span>Account No</span></th>
          <th scope="col"><span>Txn Date</span></th>
          <th scope="col"><span>Txn Date In UTC</span></th>
          <th scope="col"><span>Txn Date In Local</span></th>
          <th scope="col"><span>Txn Date For Settlement</span></th>
          <th scope="col"><span>Value Date</span></th>
          <th scope="col"><span>Value Date In UTC</span></th>
          <th scope="col"><span>Value Date In Local</span></th>
          <th scope="col"><span>Value Date For Settlement</span></th>
          <th scope="col"><span>Beneficiary Account No</span></th>
          <th scope="col"><span>Beneficiary Name</span></th>
          <th scope="col"><span>Beneficiarybank Swift Code</span></th>
          <th scope="col"><span>Intermediary Bank Swift Code</span></th>
          <th scope="col"><span>Beneficiary Bank Name</span></th>
          <th scope="col"><span>Beneficiary Bank Branch Name</span></th>
          <th scope="col"><span>Beneficiary Address 1</span></th>
          <th scope="col"><span>Beneficiary Address 2</span></th>
          <th scope="col"><span>Beneficiary Address 3</span></th>
          <th scope="col"><span>Beneficiary State</span></th>
          <th scope="col"><span>Beneficiary Pin Code</span></th>
          <th scope="col"><span>Txn Amount</span></th>
          <th scope="col"><span>Amount In Account Currency</span></th>
          <th scope="col"><span>Amount In Local Currency</span></th>
          <th scope="col"><span>Charge In Account Currency</span></th>
          <th scope="col"><span>Charge In Local Currency</span></th>
          <th scope="col"><span>Funding Source</span></th>
          <th scope="col"><span>Rate</span></th>
          <th scope="col"><span>Instructed Amount</span></th>
          <th scope="col"><span>Instructed Amount Currency</span></th>
          <th scope="col"><span>Merchant ID</span></th>
          <th scope="col"><span>Merchant Info</span></th>
          <th scope="col"><span>External Ref No</span></th>
          <th scope="col"><span>Txn Description</span></th>
          <th scope="col"><span>Txn Internal Description</span></th>
          <th scope="col"><span>Txn Addnl Info</span></th>
          <th scope="col"><span>Created On</span></th>
          <th scope="col"><span>Created By</span></th>
          <th scope="col"><span>Txn Status</span></th>
          <th scope="col"><span>Txn Debit Account No</span></th>
          <th scope="col"><span>Txn Credit Account No</span></th>
          <th scope="col"><span>Charge Debit Account No</span></th>
          <th scope="col"><span>Charge Credit Account No</span></th>
          <th scope="col"><span>Country</span></th>
          <th scope="col"><span>Txn Currency</span></th>
          <th scope="col"><span>Account Currency</span></th>
          <th scope="col"><span>Instructed Currency</span></th>
          <th scope="col"><span>Purpose Of Txn</span></th>
          <th scope="col"><span>Funding Source Type</span></th>
          <th scope="col"><span>Transaction Type</span></th>
          <th scope="col"><span>Customer</span></th>
          <th scope="col"><span>Casa Account</span></th>
          <th scope="col"><span>Beneficiary</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let remittanceTransaction of remittanceTransactions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/remittance-transaction', remittanceTransaction.id, 'view']">{{ remittanceTransaction.id }}</a>
          </td>
          <td>{{ remittanceTransaction.txnRefNo }}</td>
          <td>{{ remittanceTransaction.accountNo }}</td>
          <td>{{ remittanceTransaction.txnDate | formatMediumDate }}</td>
          <td>{{ remittanceTransaction.txnDateInUTC | formatMediumDatetime }}</td>
          <td>{{ remittanceTransaction.txnDateInLocal | formatMediumDatetime }}</td>
          <td>{{ remittanceTransaction.txnDateForSettlement | formatMediumDatetime }}</td>
          <td>{{ remittanceTransaction.valueDate | formatMediumDate }}</td>
          <td>{{ remittanceTransaction.valueDateInUTC | formatMediumDatetime }}</td>
          <td>{{ remittanceTransaction.valueDateInLocal | formatMediumDatetime }}</td>
          <td>{{ remittanceTransaction.valueDateForSettlement | formatMediumDatetime }}</td>
          <td>{{ remittanceTransaction.beneficiaryAccountNo }}</td>
          <td>{{ remittanceTransaction.beneficiaryName }}</td>
          <td>{{ remittanceTransaction.beneficiarybankSwiftCode }}</td>
          <td>{{ remittanceTransaction.intermediaryBankSwiftCode }}</td>
          <td>{{ remittanceTransaction.beneficiaryBankName }}</td>
          <td>{{ remittanceTransaction.beneficiaryBankBranchName }}</td>
          <td>{{ remittanceTransaction.beneficiaryAddress1 }}</td>
          <td>{{ remittanceTransaction.beneficiaryAddress2 }}</td>
          <td>{{ remittanceTransaction.beneficiaryAddress3 }}</td>
          <td>{{ remittanceTransaction.beneficiaryState }}</td>
          <td>{{ remittanceTransaction.beneficiaryPinCode }}</td>
          <td>{{ remittanceTransaction.txnAmount }}</td>
          <td>{{ remittanceTransaction.amountInAccountCurrency }}</td>
          <td>{{ remittanceTransaction.amountInLocalCurrency }}</td>
          <td>{{ remittanceTransaction.chargeInAccountCurrency }}</td>
          <td>{{ remittanceTransaction.chargeInLocalCurrency }}</td>
          <td>{{ remittanceTransaction.fundingSource }}</td>
          <td>{{ remittanceTransaction.rate }}</td>
          <td>{{ remittanceTransaction.instructedAmount }}</td>
          <td>{{ remittanceTransaction.instructedAmountCurrency }}</td>
          <td>{{ remittanceTransaction.merchantID }}</td>
          <td>{{ remittanceTransaction.merchantInfo }}</td>
          <td>{{ remittanceTransaction.externalRefNo }}</td>
          <td>{{ remittanceTransaction.txnDescription }}</td>
          <td>{{ remittanceTransaction.txnInternalDescription }}</td>
          <td>{{ remittanceTransaction.txnAddnlInfo }}</td>
          <td>{{ remittanceTransaction.createdOn | formatMediumDatetime }}</td>
          <td>{{ remittanceTransaction.createdBy }}</td>
          <td>{{ remittanceTransaction.txnStatus }}</td>
          <td>{{ remittanceTransaction.txnDebitAccountNo }}</td>
          <td>{{ remittanceTransaction.txnCreditAccountNo }}</td>
          <td>{{ remittanceTransaction.chargeDebitAccountNo }}</td>
          <td>{{ remittanceTransaction.chargeCreditAccountNo }}</td>
          <td>
            <div *ngIf="remittanceTransaction.country">
              <a [routerLink]="['/country', remittanceTransaction.country?.id, 'view']">{{ remittanceTransaction.country?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="remittanceTransaction.txnCurrency">
              <a [routerLink]="['/currency', remittanceTransaction.txnCurrency?.id, 'view']">{{
                remittanceTransaction.txnCurrency?.name
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="remittanceTransaction.accountCurrency">
              <a [routerLink]="['/currency', remittanceTransaction.accountCurrency?.id, 'view']">{{
                remittanceTransaction.accountCurrency?.name
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="remittanceTransaction.instructedCurrency">
              <a [routerLink]="['/currency', remittanceTransaction.instructedCurrency?.id, 'view']">{{
                remittanceTransaction.instructedCurrency?.name
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="remittanceTransaction.purposeOfTxn">
              <a [routerLink]="['/purpose-of-txn', remittanceTransaction.purposeOfTxn?.id, 'view']">{{
                remittanceTransaction.purposeOfTxn?.name
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="remittanceTransaction.fundingSourceType">
              <a [routerLink]="['/funding-source-type', remittanceTransaction.fundingSourceType?.id, 'view']">{{
                remittanceTransaction.fundingSourceType?.name
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="remittanceTransaction.transactionType">
              <a [routerLink]="['/transaction-type', remittanceTransaction.transactionType?.id, 'view']">{{
                remittanceTransaction.transactionType?.name
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="remittanceTransaction.customer">
              <a [routerLink]="['/customer', remittanceTransaction.customer?.id, 'view']">{{
                remittanceTransaction.customer?.firstName
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="remittanceTransaction.casaAccount">
              <a [routerLink]="['/casa-account', remittanceTransaction.casaAccount?.id, 'view']">{{
                remittanceTransaction.casaAccount?.accountNo
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="remittanceTransaction.beneficiary">
              <a [routerLink]="['/beneficiary', remittanceTransaction.beneficiary?.id, 'view']">{{
                remittanceTransaction.beneficiary?.beneficiaryName
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/remittance-transaction', remittanceTransaction.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/remittance-transaction', remittanceTransaction.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(remittanceTransaction)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
