<div>
  <h2 id="page-heading" data-cy="GlAccountHeading">
    <span>Gl Accounts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-gl-account"
        [routerLink]="['/gl-account/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Gl Account </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="glAccounts?.length === 0">
    <span>No glAccounts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="glAccounts && glAccounts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Account No</span></th>
          <th scope="col"><span>Account Name</span></th>
          <th scope="col"><span>Date</span></th>
          <th scope="col"><span>Closing Balance</span></th>
          <th scope="col"><span>Opening Balance</span></th>
          <th scope="col"><span>Total Debit</span></th>
          <th scope="col"><span>Total Credit</span></th>
          <th scope="col"><span>Available Balance</span></th>
          <th scope="col"><span>Current Balance</span></th>
          <th scope="col"><span>Created On</span></th>
          <th scope="col"><span>Created By</span></th>
          <th scope="col"><span>Gl Account Status</span></th>
          <th scope="col"><span>Gl Account Type</span></th>
          <th scope="col"><span>Account Currency</span></th>
          <th scope="col"><span>Gl Account Category</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let glAccount of glAccounts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/gl-account', glAccount.id, 'view']">{{ glAccount.id }}</a>
          </td>
          <td>{{ glAccount.accountNo }}</td>
          <td>{{ glAccount.accountName }}</td>
          <td>{{ glAccount.date | formatMediumDate }}</td>
          <td>{{ glAccount.closingBalance }}</td>
          <td>{{ glAccount.openingBalance }}</td>
          <td>{{ glAccount.totalDebit }}</td>
          <td>{{ glAccount.totalCredit }}</td>
          <td>{{ glAccount.availableBalance }}</td>
          <td>{{ glAccount.currentBalance }}</td>
          <td>{{ glAccount.createdOn | formatMediumDatetime }}</td>
          <td>{{ glAccount.createdBy }}</td>
          <td>{{ glAccount.glAccountStatus }}</td>
          <td>{{ glAccount.glAccountType }}</td>
          <td>
            <div *ngIf="glAccount.accountCurrency">
              <a [routerLink]="['/currency', glAccount.accountCurrency?.id, 'view']">{{ glAccount.accountCurrency?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="glAccount.glAccountCategory">
              <a [routerLink]="['/gl-account-category', glAccount.glAccountCategory?.id, 'view']">{{
                glAccount.glAccountCategory?.name
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/gl-account', glAccount.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/gl-account', glAccount.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(glAccount)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
