<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="charge">
      <h2 data-cy="chargeDetailsHeading"><span>Charge</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ charge.id }}</span>
        </dd>
        <dt><span>Charge Amount Local Ccy</span></dt>
        <dd>
          <span>{{ charge.chargeAmountLocalCcy }}</span>
        </dd>
        <dt><span>Charge Amount Txn Ccy</span></dt>
        <dd>
          <span>{{ charge.chargeAmountTxnCcy }}</span>
        </dd>
        <dt><span>Amount Slab</span></dt>
        <dd>
          <span>{{ charge.amountSlab }}</span>
        </dd>
        <dt><span>Amount Slab Value</span></dt>
        <dd>
          <span>{{ charge.amountSlabValue }}</span>
        </dd>
        <dt><span>Amount Slab Operator</span></dt>
        <dd>
          <span>{{ charge.amountSlabOperator }}</span>
        </dd>
        <dt><span>Amount Slab Currency</span></dt>
        <dd>
          <span>{{ charge.amountSlabCurrency }}</span>
        </dd>
        <dt><span>Record Status</span></dt>
        <dd>
          <span>{{ charge.recordStatus }}</span>
        </dd>
        <dt><span>Validfrom</span></dt>
        <dd>
          <span>{{ charge.validfrom | formatMediumDate }}</span>
        </dd>
        <dt><span>Valid To</span></dt>
        <dd>
          <span>{{ charge.validTo | formatMediumDate }}</span>
        </dd>
        <dt><span>Charge Type</span></dt>
        <dd>
          <div *ngIf="charge.chargeType">
            <a [routerLink]="['/charge-type', charge.chargeType?.id, 'view']">{{ charge.chargeType?.name }}</a>
          </div>
        </dd>
        <dt><span>Transaction Type</span></dt>
        <dd>
          <div *ngIf="charge.transactionType">
            <a [routerLink]="['/transaction-type', charge.transactionType?.id, 'view']">{{ charge.transactionType?.name }}</a>
          </div>
        </dd>
        <dt><span>Txn Country</span></dt>
        <dd>
          <div *ngIf="charge.txnCountry">
            <a [routerLink]="['/country', charge.txnCountry?.id, 'view']">{{ charge.txnCountry?.name }}</a>
          </div>
        </dd>
        <dt><span>Beneficiary Country</span></dt>
        <dd>
          <div *ngIf="charge.beneficiaryCountry">
            <a [routerLink]="['/country', charge.beneficiaryCountry?.id, 'view']">{{ charge.beneficiaryCountry?.name }}</a>
          </div>
        </dd>
        <dt><span>Base Currency</span></dt>
        <dd>
          <div *ngIf="charge.baseCurrency">
            <a [routerLink]="['/currency', charge.baseCurrency?.id, 'view']">{{ charge.baseCurrency?.name }}</a>
          </div>
        </dd>
        <dt><span>Txn Currency</span></dt>
        <dd>
          <div *ngIf="charge.txnCurrency">
            <a [routerLink]="['/currency', charge.txnCurrency?.id, 'view']">{{ charge.txnCurrency?.name }}</a>
          </div>
        </dd>
        <dt><span>Charge Account</span></dt>
        <dd>
          <div *ngIf="charge.chargeAccount">
            <a [routerLink]="['/casa-account', charge.chargeAccount?.id, 'view']">{{ charge.chargeAccount?.accountName }}</a>
          </div>
        </dd>
        <dt><span>Customer Segment</span></dt>
        <dd>
          <div *ngIf="charge.customerSegment">
            <a [routerLink]="['/customer-segment', charge.customerSegment?.id, 'view']">{{ charge.customerSegment?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/charge', charge.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
