<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="walletAccount">
      <h2 data-cy="walletAccountDetailsHeading"><span>Wallet Account</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ walletAccount.id }}</span>
        </dd>
        <dt><span>Account No</span></dt>
        <dd>
          <span>{{ walletAccount.accountNo }}</span>
        </dd>
        <dt><span>Cif</span></dt>
        <dd>
          <span>{{ walletAccount.cif }}</span>
        </dd>
        <dt><span>Account Name</span></dt>
        <dd>
          <span>{{ walletAccount.accountName }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ walletAccount.date | formatMediumDate }}</span>
        </dd>
        <dt><span>Closing Balance</span></dt>
        <dd>
          <span>{{ walletAccount.closingBalance }}</span>
        </dd>
        <dt><span>Opening Balance</span></dt>
        <dd>
          <span>{{ walletAccount.openingBalance }}</span>
        </dd>
        <dt><span>Total Debit</span></dt>
        <dd>
          <span>{{ walletAccount.totalDebit }}</span>
        </dd>
        <dt><span>Total Credit</span></dt>
        <dd>
          <span>{{ walletAccount.totalCredit }}</span>
        </dd>
        <dt><span>Available Balance</span></dt>
        <dd>
          <span>{{ walletAccount.availableBalance }}</span>
        </dd>
        <dt><span>Current Balance</span></dt>
        <dd>
          <span>{{ walletAccount.currentBalance }}</span>
        </dd>
        <dt><span>Created On</span></dt>
        <dd>
          <span>{{ walletAccount.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ walletAccount.createdBy }}</span>
        </dd>
        <dt><span>Account Status</span></dt>
        <dd>
          <span>{{ walletAccount.accountStatus }}</span>
        </dd>
        <dt><span>Account Type</span></dt>
        <dd>
          <div *ngIf="walletAccount.accountType">
            <a [routerLink]="['/account-type', walletAccount.accountType?.id, 'view']">{{ walletAccount.accountType?.name }}</a>
          </div>
        </dd>
        <dt><span>Account Category</span></dt>
        <dd>
          <div *ngIf="walletAccount.accountCategory">
            <a [routerLink]="['/account-category', walletAccount.accountCategory?.id, 'view']">{{ walletAccount.accountCategory?.name }}</a>
          </div>
        </dd>
        <dt><span>Account Currency</span></dt>
        <dd>
          <div *ngIf="walletAccount.accountCurrency">
            <a [routerLink]="['/currency', walletAccount.accountCurrency?.id, 'view']">{{ walletAccount.accountCurrency?.name }}</a>
          </div>
        </dd>
        <dt><span>Customer</span></dt>
        <dd>
          <div *ngIf="walletAccount.customer">
            <a [routerLink]="['/customer', walletAccount.customer?.id, 'view']">{{ walletAccount.customer?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/wallet-account', walletAccount.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
