<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="fxRate">
      <h2 data-cy="fxRateDetailsHeading"><span>Fx Rate</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ fxRate.id }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ fxRate.type }}</span>
        </dd>
        <dt><span>Base Currency</span></dt>
        <dd>
          <span>{{ fxRate.baseCurrency }}</span>
        </dd>
        <dt><span>Quote Currency</span></dt>
        <dd>
          <span>{{ fxRate.quoteCurrency }}</span>
        </dd>
        <dt><span>Ask Price</span></dt>
        <dd>
          <span>{{ fxRate.askPrice }}</span>
        </dd>
        <dt><span>Bid Price</span></dt>
        <dd>
          <span>{{ fxRate.bidPrice }}</span>
        </dd>
        <dt><span>Mid Price</span></dt>
        <dd>
          <span>{{ fxRate.midPrice }}</span>
        </dd>
        <dt><span>Ask Margin</span></dt>
        <dd>
          <span>{{ fxRate.askMargin }}</span>
        </dd>
        <dt><span>Bid Margin</span></dt>
        <dd>
          <span>{{ fxRate.bidMargin }}</span>
        </dd>
        <dt><span>Segment</span></dt>
        <dd>
          <span>{{ fxRate.segment }}</span>
        </dd>
        <dt><span>Amount Slab</span></dt>
        <dd>
          <span>{{ fxRate.amountSlab }}</span>
        </dd>
        <dt><span>Amount Slab Value</span></dt>
        <dd>
          <span>{{ fxRate.amountSlabValue }}</span>
        </dd>
        <dt><span>Amount Slab Operator</span></dt>
        <dd>
          <span>{{ fxRate.amountSlabOperator }}</span>
        </dd>
        <dt><span>Amount Slab Currency</span></dt>
        <dd>
          <span>{{ fxRate.amountSlabCurrency }}</span>
        </dd>
        <dt><span>Record Status</span></dt>
        <dd>
          <span>{{ fxRate.recordStatus }}</span>
        </dd>
        <dt><span>Validfrom</span></dt>
        <dd>
          <span>{{ fxRate.validfrom | formatMediumDate }}</span>
        </dd>
        <dt><span>Valid To</span></dt>
        <dd>
          <span>{{ fxRate.validTo | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/fx-rate', fxRate.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
