<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-casa-account-day-balance-heading" data-cy="CasaAccountDayBalanceCreateUpdateHeading">
        Create or edit a Casa Account Day Balance
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_accountNo">Account No</label>
          <input type="text" class="form-control" name="accountNo" id="field_accountNo" data-cy="accountNo" formControlName="accountNo" />
          <div *ngIf="editForm.get('accountNo')!.invalid && (editForm.get('accountNo')!.dirty || editForm.get('accountNo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('accountNo')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_closingBalance">Closing Balance</label>
          <input
            type="number"
            class="form-control"
            name="closingBalance"
            id="field_closingBalance"
            data-cy="closingBalance"
            formControlName="closingBalance"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_openingBalance">Opening Balance</label>
          <input
            type="number"
            class="form-control"
            name="openingBalance"
            id="field_openingBalance"
            data-cy="openingBalance"
            formControlName="openingBalance"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_totalDebit">Total Debit</label>
          <input
            type="number"
            class="form-control"
            name="totalDebit"
            id="field_totalDebit"
            data-cy="totalDebit"
            formControlName="totalDebit"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_totalCredit">Total Credit</label>
          <input
            type="number"
            class="form-control"
            name="totalCredit"
            id="field_totalCredit"
            data-cy="totalCredit"
            formControlName="totalCredit"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_availableBalance">Available Balance</label>
          <input
            type="number"
            class="form-control"
            name="availableBalance"
            id="field_availableBalance"
            data-cy="availableBalance"
            formControlName="availableBalance"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_currentBalance">Current Balance</label>
          <input
            type="number"
            class="form-control"
            name="currentBalance"
            id="field_currentBalance"
            data-cy="currentBalance"
            formControlName="currentBalance"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_createdOn">Created On</label>
          <div class="d-flex">
            <input
              id="field_createdOn"
              data-cy="createdOn"
              type="datetime-local"
              class="form-control"
              name="createdOn"
              formControlName="createdOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_casaAccount">Casa Account</label>
          <select class="form-control" id="field_casaAccount" data-cy="casaAccount" name="casaAccount" formControlName="casaAccount">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                casaAccountOption.id === editForm.get('casaAccount')!.value?.id ? editForm.get('casaAccount')!.value : casaAccountOption
              "
              *ngFor="let casaAccountOption of casaAccountsSharedCollection; trackBy: trackCasaAccountById"
            >
              {{ casaAccountOption.accountNo }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
