<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="merchant">
      <h2 data-cy="merchantDetailsHeading"><span>Merchant</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ merchant.id }}</span>
        </dd>
        <dt><span>Merchant ID</span></dt>
        <dd>
          <span>{{ merchant.merchantID }}</span>
        </dd>
        <dt><span>Merchant Name</span></dt>
        <dd>
          <span>{{ merchant.merchantName }}</span>
        </dd>
        <dt><span>Merchant Category</span></dt>
        <dd>
          <span>{{ merchant.merchantCategory }}</span>
        </dd>
        <dt><span>Merchant GL Account No</span></dt>
        <dd>
          <span>{{ merchant.merchantGLAccountNo }}</span>
        </dd>
        <dt><span>Merchant Bank Account No</span></dt>
        <dd>
          <span>{{ merchant.merchantBankAccountNo }}</span>
        </dd>
        <dt><span>Merchant Bank Account Currency</span></dt>
        <dd>
          <span>{{ merchant.merchantBankAccountCurrency }}</span>
        </dd>
        <dt><span>Merchant Bank Code</span></dt>
        <dd>
          <span>{{ merchant.merchantBankCode }}</span>
        </dd>
        <dt><span>Merchant Bank Name</span></dt>
        <dd>
          <span>{{ merchant.merchantBankName }}</span>
        </dd>
        <dt><span>Merchant Address</span></dt>
        <dd>
          <span>{{ merchant.merchantAddress }}</span>
        </dd>
        <dt><span>Merchant City</span></dt>
        <dd>
          <span>{{ merchant.merchantCity }}</span>
        </dd>
        <dt><span>Created On</span></dt>
        <dd>
          <span>{{ merchant.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ merchant.createdBy }}</span>
        </dd>
        <dt><span>Merchant Stataus</span></dt>
        <dd>
          <span>{{ merchant.merchantStataus }}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
          <div *ngIf="merchant.country">
            <a [routerLink]="['/country', merchant.country?.id, 'view']">{{ merchant.country?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/merchant', merchant.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
