<div>
  <h2 id="page-heading" data-cy="CustomerAddressHeading">
    <span>Customer Addresses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-customer-address"
        [routerLink]="['/customer-address/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Customer Address </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="customerAddresses?.length === 0">
    <span>No customerAddresses found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="customerAddresses && customerAddresses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Title</span></th>
          <th scope="col"><span>Cif</span></th>
          <th scope="col"><span>Address 1</span></th>
          <th scope="col"><span>Address 2</span></th>
          <th scope="col"><span>Address 3</span></th>
          <th scope="col"><span>City</span></th>
          <th scope="col"><span>Created On</span></th>
          <th scope="col"><span>Created By</span></th>
          <th scope="col"><span>Country</span></th>
          <th scope="col"><span>Customer</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customerAddress of customerAddresses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/customer-address', customerAddress.id, 'view']">{{ customerAddress.id }}</a>
          </td>
          <td>{{ customerAddress.title }}</td>
          <td>{{ customerAddress.cif }}</td>
          <td>{{ customerAddress.address1 }}</td>
          <td>{{ customerAddress.address2 }}</td>
          <td>{{ customerAddress.address3 }}</td>
          <td>{{ customerAddress.city }}</td>
          <td>{{ customerAddress.createdOn | formatMediumDatetime }}</td>
          <td>{{ customerAddress.createdBy }}</td>
          <td>
            <div *ngIf="customerAddress.country">
              <a [routerLink]="['/country', customerAddress.country?.id, 'view']">{{ customerAddress.country?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="customerAddress.customer">
              <a [routerLink]="['/customer', customerAddress.customer?.id, 'view']">{{ customerAddress.customer?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/customer-address', customerAddress.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/customer-address', customerAddress.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(customerAddress)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
