<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-general-ledger-heading" data-cy="GeneralLedgerCreateUpdateHeading">Create or edit a General Ledger</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_glRefNo">Gl Ref No</label>
          <input type="text" class="form-control" name="glRefNo" id="field_glRefNo" data-cy="glRefNo" formControlName="glRefNo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_glAccountNo">Gl Account No</label>
          <input
            type="text"
            class="form-control"
            name="glAccountNo"
            id="field_glAccountNo"
            data-cy="glAccountNo"
            formControlName="glAccountNo"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_txnDate">Txn Date</label>
          <div class="input-group">
            <input
              id="field_txnDate"
              data-cy="txnDate"
              type="text"
              class="form-control"
              name="txnDate"
              ngbDatepicker
              #txnDateDp="ngbDatepicker"
              formControlName="txnDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="txnDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_txnDateInUTC">Txn Date In UTC</label>
          <div class="d-flex">
            <input
              id="field_txnDateInUTC"
              data-cy="txnDateInUTC"
              type="datetime-local"
              class="form-control"
              name="txnDateInUTC"
              formControlName="txnDateInUTC"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_txnDateInLocal">Txn Date In Local</label>
          <div class="d-flex">
            <input
              id="field_txnDateInLocal"
              data-cy="txnDateInLocal"
              type="datetime-local"
              class="form-control"
              name="txnDateInLocal"
              formControlName="txnDateInLocal"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_txnDateForSettlement">Txn Date For Settlement</label>
          <div class="d-flex">
            <input
              id="field_txnDateForSettlement"
              data-cy="txnDateForSettlement"
              type="datetime-local"
              class="form-control"
              name="txnDateForSettlement"
              formControlName="txnDateForSettlement"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_amountInAccountCurrency">Amount In Account Currency</label>
          <input
            type="number"
            class="form-control"
            name="amountInAccountCurrency"
            id="field_amountInAccountCurrency"
            data-cy="amountInAccountCurrency"
            formControlName="amountInAccountCurrency"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_amountInLocalCurrency">Amount In Local Currency</label>
          <input
            type="number"
            class="form-control"
            name="amountInLocalCurrency"
            id="field_amountInLocalCurrency"
            data-cy="amountInLocalCurrency"
            formControlName="amountInLocalCurrency"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_rate">Rate</label>
          <input type="number" class="form-control" name="rate" id="field_rate" data-cy="rate" formControlName="rate" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_entryCategory">Entry Category</label>
          <input
            type="text"
            class="form-control"
            name="entryCategory"
            id="field_entryCategory"
            data-cy="entryCategory"
            formControlName="entryCategory"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_description1">Description 1</label>
          <input
            type="text"
            class="form-control"
            name="description1"
            id="field_description1"
            data-cy="description1"
            formControlName="description1"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_description2">Description 2</label>
          <input
            type="text"
            class="form-control"
            name="description2"
            id="field_description2"
            data-cy="description2"
            formControlName="description2"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_createdOn">Created On</label>
          <div class="d-flex">
            <input
              id="field_createdOn"
              data-cy="createdOn"
              type="datetime-local"
              class="form-control"
              name="createdOn"
              formControlName="createdOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_entryStatus">Entry Status</label>
          <select class="form-control" name="entryStatus" formControlName="entryStatus" id="field_entryStatus" data-cy="entryStatus">
            <option [ngValue]="null"></option>
            <option *ngFor="let entryStatus of entryStatusValues" [value]="entryStatus">entryStatus</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_glEntryType">Gl Entry Type</label>
          <select class="form-control" name="glEntryType" formControlName="glEntryType" id="field_glEntryType" data-cy="glEntryType">
            <option [ngValue]="null"></option>
            <option *ngFor="let glEntryType of glEntryTypeValues" [value]="glEntryType">glEntryType</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
