<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="customer">
      <h2 data-cy="customerDetailsHeading"><span>Customer</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ customer.id }}</span>
        </dd>
        <dt><span>Cif</span></dt>
        <dd>
          <span>{{ customer.cif }}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
          <span>{{ customer.firstName }}</span>
        </dd>
        <dt><span>Middle Name</span></dt>
        <dd>
          <span>{{ customer.middleName }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ customer.lastName }}</span>
        </dd>
        <dt><span>Name In Local Lang</span></dt>
        <dd>
          <span>{{ customer.nameInLocalLang }}</span>
        </dd>
        <dt><span>Telephone</span></dt>
        <dd>
          <span>{{ customer.telephone }}</span>
        </dd>
        <dt><span>Mobile</span></dt>
        <dd>
          <span>{{ customer.mobile }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ customer.email }}</span>
        </dd>
        <dt><span>Created On</span></dt>
        <dd>
          <span>{{ customer.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
          <span>{{ customer.createdBy }}</span>
        </dd>
        <dt><span>Customer Status</span></dt>
        <dd>
          <span>{{ customer.customerStatus }}</span>
        </dd>
        <dt><span>Nationality</span></dt>
        <dd>
          <div *ngIf="customer.nationality">
            <a [routerLink]="['/country', customer.nationality?.id, 'view']">{{ customer.nationality?.name }}</a>
          </div>
        </dd>
        <dt><span>Customer Type</span></dt>
        <dd>
          <div *ngIf="customer.customerType">
            <a [routerLink]="['/customer-type', customer.customerType?.id, 'view']">{{ customer.customerType?.name }}</a>
          </div>
        </dd>
        <dt><span>Customer Segment</span></dt>
        <dd>
          <div *ngIf="customer.customerSegment">
            <a [routerLink]="['/customer-segment', customer.customerSegment?.id, 'view']">{{ customer.customerSegment?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/customer', customer.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
