<div>
  <h2 id="page-heading" data-cy="WalletAccountHeading">
    <span>Wallet Accounts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-wallet-account"
        [routerLink]="['/wallet-account/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Wallet Account </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="walletAccounts?.length === 0">
    <span>No walletAccounts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="walletAccounts && walletAccounts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Account No</span></th>
          <th scope="col"><span>Cif</span></th>
          <th scope="col"><span>Account Name</span></th>
          <th scope="col"><span>Date</span></th>
          <th scope="col"><span>Closing Balance</span></th>
          <th scope="col"><span>Opening Balance</span></th>
          <th scope="col"><span>Total Debit</span></th>
          <th scope="col"><span>Total Credit</span></th>
          <th scope="col"><span>Available Balance</span></th>
          <th scope="col"><span>Current Balance</span></th>
          <th scope="col"><span>Created On</span></th>
          <th scope="col"><span>Created By</span></th>
          <th scope="col"><span>Account Status</span></th>
          <th scope="col"><span>Account Type</span></th>
          <th scope="col"><span>Account Category</span></th>
          <th scope="col"><span>Account Currency</span></th>
          <th scope="col"><span>Customer</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let walletAccount of walletAccounts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/wallet-account', walletAccount.id, 'view']">{{ walletAccount.id }}</a>
          </td>
          <td>{{ walletAccount.accountNo }}</td>
          <td>{{ walletAccount.cif }}</td>
          <td>{{ walletAccount.accountName }}</td>
          <td>{{ walletAccount.date | formatMediumDate }}</td>
          <td>{{ walletAccount.closingBalance }}</td>
          <td>{{ walletAccount.openingBalance }}</td>
          <td>{{ walletAccount.totalDebit }}</td>
          <td>{{ walletAccount.totalCredit }}</td>
          <td>{{ walletAccount.availableBalance }}</td>
          <td>{{ walletAccount.currentBalance }}</td>
          <td>{{ walletAccount.createdOn | formatMediumDatetime }}</td>
          <td>{{ walletAccount.createdBy }}</td>
          <td>{{ walletAccount.accountStatus }}</td>
          <td>
            <div *ngIf="walletAccount.accountType">
              <a [routerLink]="['/account-type', walletAccount.accountType?.id, 'view']">{{ walletAccount.accountType?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="walletAccount.accountCategory">
              <a [routerLink]="['/account-category', walletAccount.accountCategory?.id, 'view']">{{
                walletAccount.accountCategory?.name
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="walletAccount.accountCurrency">
              <a [routerLink]="['/currency', walletAccount.accountCurrency?.id, 'view']">{{ walletAccount.accountCurrency?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="walletAccount.customer">
              <a [routerLink]="['/customer', walletAccount.customer?.id, 'view']">{{ walletAccount.customer?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/wallet-account', walletAccount.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/wallet-account', walletAccount.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(walletAccount)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
