<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-charge-heading" data-cy="ChargeCreateUpdateHeading">Create or edit a Charge</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_chargeAmountLocalCcy">Charge Amount Local Ccy</label>
          <input
            type="number"
            class="form-control"
            name="chargeAmountLocalCcy"
            id="field_chargeAmountLocalCcy"
            data-cy="chargeAmountLocalCcy"
            formControlName="chargeAmountLocalCcy"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_chargeAmountTxnCcy">Charge Amount Txn Ccy</label>
          <input
            type="number"
            class="form-control"
            name="chargeAmountTxnCcy"
            id="field_chargeAmountTxnCcy"
            data-cy="chargeAmountTxnCcy"
            formControlName="chargeAmountTxnCcy"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_amountSlab">Amount Slab</label>
          <input
            type="text"
            class="form-control"
            name="amountSlab"
            id="field_amountSlab"
            data-cy="amountSlab"
            formControlName="amountSlab"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_amountSlabValue">Amount Slab Value</label>
          <input
            type="number"
            class="form-control"
            name="amountSlabValue"
            id="field_amountSlabValue"
            data-cy="amountSlabValue"
            formControlName="amountSlabValue"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_amountSlabOperator">Amount Slab Operator</label>
          <input
            type="text"
            class="form-control"
            name="amountSlabOperator"
            id="field_amountSlabOperator"
            data-cy="amountSlabOperator"
            formControlName="amountSlabOperator"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_amountSlabCurrency">Amount Slab Currency</label>
          <input
            type="text"
            class="form-control"
            name="amountSlabCurrency"
            id="field_amountSlabCurrency"
            data-cy="amountSlabCurrency"
            formControlName="amountSlabCurrency"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_recordStatus">Record Status</label>
          <select class="form-control" name="recordStatus" formControlName="recordStatus" id="field_recordStatus" data-cy="recordStatus">
            <option [ngValue]="null"></option>
            <option *ngFor="let recordStatus of recordStatusValues" [value]="recordStatus">recordStatus</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_validfrom">Validfrom</label>
          <div class="input-group">
            <input
              id="field_validfrom"
              data-cy="validfrom"
              type="text"
              class="form-control"
              name="validfrom"
              ngbDatepicker
              #validfromDp="ngbDatepicker"
              formControlName="validfrom"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="validfromDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_validTo">Valid To</label>
          <div class="input-group">
            <input
              id="field_validTo"
              data-cy="validTo"
              type="text"
              class="form-control"
              name="validTo"
              ngbDatepicker
              #validToDp="ngbDatepicker"
              formControlName="validTo"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="validToDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_chargeType">Charge Type</label>
          <select class="form-control" id="field_chargeType" data-cy="chargeType" name="chargeType" formControlName="chargeType">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                chargeTypeOption.id === editForm.get('chargeType')!.value?.id ? editForm.get('chargeType')!.value : chargeTypeOption
              "
              *ngFor="let chargeTypeOption of chargeTypesSharedCollection; trackBy: trackChargeTypeById"
            >
              {{ chargeTypeOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_transactionType">Transaction Type</label>
          <select
            class="form-control"
            id="field_transactionType"
            data-cy="transactionType"
            name="transactionType"
            formControlName="transactionType"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                transactionTypeOption.id === editForm.get('transactionType')!.value?.id
                  ? editForm.get('transactionType')!.value
                  : transactionTypeOption
              "
              *ngFor="let transactionTypeOption of transactionTypesSharedCollection; trackBy: trackTransactionTypeById"
            >
              {{ transactionTypeOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_txnCountry">Txn Country</label>
          <select class="form-control" id="field_txnCountry" data-cy="txnCountry" name="txnCountry" formControlName="txnCountry">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="countryOption.id === editForm.get('txnCountry')!.value?.id ? editForm.get('txnCountry')!.value : countryOption"
              *ngFor="let countryOption of countriesSharedCollection; trackBy: trackCountryById"
            >
              {{ countryOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_beneficiaryCountry">Beneficiary Country</label>
          <select
            class="form-control"
            id="field_beneficiaryCountry"
            data-cy="beneficiaryCountry"
            name="beneficiaryCountry"
            formControlName="beneficiaryCountry"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                countryOption.id === editForm.get('beneficiaryCountry')!.value?.id
                  ? editForm.get('beneficiaryCountry')!.value
                  : countryOption
              "
              *ngFor="let countryOption of countriesSharedCollection; trackBy: trackCountryById"
            >
              {{ countryOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_baseCurrency">Base Currency</label>
          <select class="form-control" id="field_baseCurrency" data-cy="baseCurrency" name="baseCurrency" formControlName="baseCurrency">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                currencyOption.id === editForm.get('baseCurrency')!.value?.id ? editForm.get('baseCurrency')!.value : currencyOption
              "
              *ngFor="let currencyOption of currenciesSharedCollection; trackBy: trackCurrencyById"
            >
              {{ currencyOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_txnCurrency">Txn Currency</label>
          <select class="form-control" id="field_txnCurrency" data-cy="txnCurrency" name="txnCurrency" formControlName="txnCurrency">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="currencyOption.id === editForm.get('txnCurrency')!.value?.id ? editForm.get('txnCurrency')!.value : currencyOption"
              *ngFor="let currencyOption of currenciesSharedCollection; trackBy: trackCurrencyById"
            >
              {{ currencyOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_chargeAccount">Charge Account</label>
          <select
            class="form-control"
            id="field_chargeAccount"
            data-cy="chargeAccount"
            name="chargeAccount"
            formControlName="chargeAccount"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                casaAccountOption.id === editForm.get('chargeAccount')!.value?.id ? editForm.get('chargeAccount')!.value : casaAccountOption
              "
              *ngFor="let casaAccountOption of casaAccountsSharedCollection; trackBy: trackCasaAccountById"
            >
              {{ casaAccountOption.accountName }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_customerSegment">Customer Segment</label>
          <select
            class="form-control"
            id="field_customerSegment"
            data-cy="customerSegment"
            name="customerSegment"
            formControlName="customerSegment"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                customerSegmentOption.id === editForm.get('customerSegment')!.value?.id
                  ? editForm.get('customerSegment')!.value
                  : customerSegmentOption
              "
              *ngFor="let customerSegmentOption of customerSegmentsSharedCollection; trackBy: trackCustomerSegmentById"
            >
              {{ customerSegmentOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
